.sparsh_gdpr_cookie_notification {
    position: fixed;
    left: 10px;
    bottom: 10px;
    max-width: 320px;
    z-index: 1000;
    background: white;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    padding: 5px;
    display: none;
}
.sparsh_gdpr_cookie_notification h3 {
    font-weight: 600;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.page-footer > .newsletter > .sparsh_consent_checkbox {
    margin-top: 5px !important;
}
.sparsh-password {
    padding-bottom: 1.2rem;
}
.sparsh-account-warning {
    font-weight: bold;
    color: #000000;
}