@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?816zd2');
  src:  url('../fonts/icomoon.eot?816zd2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?816zd2') format('truetype'),
    url('../fonts/icomoon.woff?816zd2') format('woff'),
    url('../fonts/icomoon.svg?816zd2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
dt{
  font-weight:600;
}
b, strong {
    font-weight: 400;
}
#supercheckout-front-main .icon-dynnamitt_home:before {
	content: "\e600";
}
#supercheckout-front-main .icon-edit-user-512:before {
	content: "\e602";
}
#supercheckout-front-main .icon-black-check-mark-md:before {
	content: "\e603";
}
#supercheckout-front-main .icon-fork-truck-512:before {
	content: "\e604";
}
#supercheckout-front-main .icon-px-dollar_sign_in_circle-svg_-_Copy:before {
	content: "\e605";
}
#supercheckout-front-main .icon-glossy-black-icon-transport-travel-transpor:before {
	content: "\e601";
}
#supercheckout-front-main .icon-local_shipping:before {
  content: "\e900";
}
#supercheckout-front-main .icon-directions_boat:before {
  content: "\e901";
}
#supercheckout-front-main .icon-home:before {
  content: "\e902";
}
#supercheckout-front-main .icon-coin-dollar:before {
  content: "\e93b";
}
#supercheckout-front-main .icon-location:before {
  content: "\e947";
}
#supercheckout-front-main .icon-user:before {
  content: "\e971";
}
#supercheckout-front-main .icon-checkmark:before {
  content: "\ea10";
}
#supercheckout-front-main .icon-google-plus2:before {
  content: "\ea8c";
  color:#E0492E;
}
#supercheckout-front-main .icon-facebook-official:before {
  content: "\e903";
  color:#4763A0;
}
#supercheckout-front-main .icon-spinner4:before {
  content: "\e97d";
  color:#555;
}
.sc-spin {
    -webkit-animation: sc-spin 2s infinite linear;
    animation: sc-spin 2s infinite linear;
}
@-webkit-keyframes sc-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes sc-spin{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
.sc {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#supercheckout-front-main .icon-google:before {
  content: "\ea88";
  color:#fff;
}
#supercheckout-front-main .icon-facebook:before {
  content: "\ea90";
  color:#fff;
}
#supercheckout-front-main .icon-google-plus:before {
  content: "\ea8b";
}
#supercheckout-front-main .icon-facebook2:before {
  content: "\ea91";
  color:#4763A0;
}
#supercheckout-front-main .icon-menu2:before {
  content: "\e9be";  
}
#supercheckout-front-main .supercheckout-column{
    float:left;
}
#supercheckout-front-main .icon-bin:before {
  content: "\e9ac";
  color:#aaa;
}
#supercheckout-front-main .icon-loop2:before {
  content: "\ea2e";
  color:#aaa;
}
#supercheckout-front-main .icon-bin:hover:before {
  content: "\e9ac";
  color:#666;
}
#supercheckout-front-main .icon-loop2:hover:before {
  content: "\ea2e";
  color:#666;
}
#supercheckout-front-main .supercheckout-clear{
    clear:both;
}
#supercheckout-front-main .block-heading-icon{
    vertical-align:middle;
    margin-right: 10px;
}
#supercheckout-front-main .block-heading-text{
	  font-family: 'Poppins', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 3px;
    line-height: 24px;
}
#supercheckout-front-main .supercheckout-blocks{
    padding:15px;
}
#supercheckout-front-main .block-heading-content{
    margin-bottom: 30px;
    background: transparent;
    padding: 10px 0;
     border-bottom: 1px solid black;
}
#supercheckout-front-main .supercheckout-fieldset  .supercheckout-field,#supercheckout-front-main  .supercheckout-fieldset  .supercheckout-fields .supercheckout-field {
    margin: 0 0 10px;
}
#supercheckout-front-main input[type="text"],#supercheckout-front-main  input[type="password"],
#supercheckout-front-main  input[type="url"],#supercheckout-front-main  input[type="tel"],
#supercheckout-front-main  input[type="search"],#supercheckout-front-main  input[type="number"],
#supercheckout-front-main  input[type="datetime"],#supercheckout-front-main  input[type="email"] {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

#supercheckout-front-main label{
    font-size: 14px;
   font-family: 'Poppins', sans-serif;
    color: #333333;
}
#supercheckout-front-main .sc-font-size-30{
    font-size: 24px;
    display:none;
}
#supercheckout-front-main .sc-font-size-20{
    font-size: 20px;
    float:right;
    position: relative;
    top:5px;
}
#supercheckout-front-main  .supercheckout-field.sc-margin-bottom-5{
    margin: 0 0 5px;
}
#supercheckout-front-main .sc-margin-right-5{
    margin: 0 5px 0 0;
}
#supercheckout-front-main .supercheckout-actions{
    margin-top:5px;
}
#supercheckout-front-main #notifications-gritter{
    position: fixed;
    bottom: 5px;
    right:5px;
}
#supercheckout-front-main #notifications-gritter .sc-success{
    background-color: #00aa00;
    color:#fff;
    font-weight: 600;
    padding:5px 10px;
    min-width: 300px;
    text-align: left;
    box-shadow: 1px 1px 7px #00aa00;
}
#supercheckout-front-main .sc-loader{
    display: none;
}
#supercheckout-front-main #notifications-gritter .sc-danger{
    background-color: #E0492E;
    color:#fff;
    font-weight: 600;
    padding:5px 10px;
    min-width: 300px;
    text-align: left;
    box-shadow: 1px 1px 7px #E0492E;
}
#supercheckout-front-main .supercheckout-pointer{
    cursor:pointer;
}
#cart-total-table{
    border-top:1px solid #cccccc;
    background-color: #fdfdfd;
}
#supercheckout-front-main .supercheckout-circle{
    border-radius: 50%;
    width: auto;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 37px;
    float:left;
    text-align: center;
    padding: 0 9px;
}
#supercheckout-front-main .or-dashed{
    width:40%;
    float:left;
    border:1px dashed #ccc;
    margin-top: 20px;
}
#supercheckout-front-main .social-login {
    width:46%;
    padding:3px;
}
#supercheckout-front-main .social-login.facebook-login{
    background-color:#4763A0;
    float:left;
    margin-right:10px;
}
#supercheckout-front-main .social-login.google-login{
    background-color:#E0492E;
    float:left;
}
#supercheckout-front-main .social-font{
    font-size: 2rem;
    position: relative;
    top: -2px;
    color: #fff;
    font-weight: bold;
    left: 3px;
}
#supercheckout-front-main .social-font-size-25{
    font-size: 25px;
    position: relative;
    top: 2px;
    left: 2px;
}
#supercheckout-front-main .supercheckout-actions-toolbar{
    text-align: left;
}
#supercheckout-front-main  .supercheckout-actions-toolbar .supercheckout-primary,#supercheckout-front-main  .supercheckout-actions-toolbar .supercheckout-secondary{
        margin-bottom: 0;
        display: inline-block;
        float: left;
        text-align: center;
}
#supercheckout-front-main .supercheckout-actions-toolbar:after {
    clear: both;
}
#supercheckout-front-main  .supercheckout-actions-toolbar .supercheckout-primary .supercheckout-action{
          margin: 0 15px 0 0;
}
#supercheckout-front-main .supercheckout-action.supercheckout-primary {
    background-image: none;
    background: #000;
    border: 0px solid #000;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
      font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 6px 15px;
    font-size: 1.2rem;
    box-sizing: border-box;
    vertical-align: middle;
    box-shadow: none;
    text-transform: uppercase;
}
#supercheckout-front-main .supercheckout-action.supercheckout-primary:focus,
#supercheckout-front-main .supercheckout-action.supercheckout-primary:active {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #ffffff;
}
#supercheckout-front-main .supercheckout-action.supercheckout-primary:hover {
  background: #d18d1e;
  border: 0px solid #d18d1e;
  color: #ffffff;
}
#supercheckout-front-main .supercheckout-actions-toolbar .supercheckout-secondary a.supercheckout-action{
    margin-top:6px;
    display: inline-block;
}
#login-block #supercheckout-login-options-block,
#login-block  #supercheckout-register-options-block{
    display:none;
}
#login-block .login-event #supercheckout-login-options-block{
    display:block;
}
#login-block .register-event #supercheckout-register-options-block{
    display:block;
}
#supercheckout-register-options-block .supercheckout-field{
    width:46%;
    padding:0 5px;
    float:left;
}
#login-block .ui-datepicker-trigger{
    display:none;
}
#supercheckout-front-main #column-1, #supercheckout-front-main #column-2{
    border-right: 0px solid #ccc;
}
#supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price-including-tax,#supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price-excluding-tax, #supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price{
    font-weight: 400;
    float:right;
    font-size: 1.6rem;
}
#supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price:after, #supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price-including-tax:after, #supercheckout-front-main #shipping-method-block .supercheckout-radio-field .price-excluding-tax:after{
    clear:both;
}

#supercheckout-front-main #cart-table tbody, #supercheckout-front-main #cart-voucher-table tbody{
    border-top: 1px solid #ccc;
}
#supercheckout-front-main table > thead > tr > th,
#supercheckout-front-main  table > tbody > tr > th,
#supercheckout-front-main table > tfoot > tr > th,
#supercheckout-front-main table > thead > tr > td,
#supercheckout-front-main table > tbody > tr > td,
#supercheckout-front-main table > tfoot > tr > td {
    padding: 11px 10px;
}
#supercheckout-front-main #cart-table .supercheckout-product-image-container {
    display: inline-block;
    max-width: 100%;
}
#supercheckout-front-main #cart-table .supercheckout-product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#supercheckout-front-main #cart-table .supercheckout-product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#supercheckout-front-main #cart-table .supercheckout-product-item-name {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  display: block;
  hyphens: auto;
  margin: 5px 0;
  word-wrap: break-word;
  width:80px;
  font-size: 1.3rem;
}
#supercheckout-front-main #cart-table .supercheckout-item-options{
  font-size: 1.2rem;  
}

#supercheckout-front-main #cart-table .supercheckout-price-including-tax, #supercheckout-front-main #cart-table .supercheckout-price-excluding-tax{
    display: block;
    font-size: 1.8rem;
    line-height: 1;
    white-space: nowrap;
}
#supercheckout-front-main #cart-total-table .supercheckout-price .price
{
    font-size: 15px;
    line-height: 1;
    white-space: nowrap;
    font-weight: 400;
	margin-left: 50px;
	width: 75px;
	display: inline-block;
}
#supercheckout-front-main #place-order{
    width:100%;
    font-size:1.4rem;
    padding:15px;
}
#supercheckout-front-main .sc-disabled-block{
    opacity: 0.5;
}
#supercheckout-front-main #cart-table .supercheckout-price-excluding-tax .supercheckout-price, #supercheckout-front-main #cart-table-table .supercheckout-price-excluding-tax .supercheckout-price {
    font-weight: 400;
}
#supercheckout-front-main #cart-table .supercheckout-tax-label{
    font-size: 1rem;
}
#supercheckout-front-main #cart-table .supercheckout-qty{
    width:40px;
	text-align:center;
}
#login-block-main-content ol.rectangle-list  {
    counter-reset: li;
    list-style: none;
    padding: 0 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin:0px;
}
#login-block-main-content .rectangle-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em !important;
    padding: .4em !important;
    margin: .5em 0 .5em 2.5em !important;
    font-size: 14px !important;
    color: #444 !important;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#login-block-main-content .rectangle-list a:hover {
}

#login-block-main-content .rectangle-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em !important;
    background: #F77219 !important;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold !important;
}

#login-block-main-content .rectangle-list a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent !important;
    left: -1em;
    top: 50%;
    margin-top: -.5em !important;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#login-block-main-content .rectangle-list a:hover:after {
    left: -.5em;
    border-left-color: #fa8072 !important;
}

#login-block-main-content .rectangle-list li {
    float:left;
    width:50%;
}
table#cart-total-table > tbody > tr > td {
    padding: 5px 10px;
}
table#cart-total-table .sc-total-price{
    padding: 8px 10px;
    text-align: right;
}
.place-order-spinner{
    display: none;
}
#supercheckout-front-main .place-order-spinner.sc-font-size-18{
    font-size: 18px;
    position:absolute;
    margin-left: -25px;
}
#supercheckout-front-main .place-order-spinner.icon-spinner4:before{
    color:#fff
}
.supercheckout-field.supercheckout-required > .label:after{
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
#supercheckout-front-main .sc-margin-top-5{
    margin-top:5px;
}
#payment-address-block-main-content .supercheckout-field, #shipping-address-block-main-content .supercheckout-field{
    margin-bottom: 7px;
}
#supercheckout-front-main  #sc-voucher{
    width:59%;
	vertical-align: middle;
}
#supercheckout-front-main #cart-voucher-table .sc-voucher-title{
    line-height: 32px;
    font-weight: bold;
}
#supercheckout-front-main #cart-voucher-table .sc-voucher-box{
    text-align: right;
}
#supercheckout-front-main .payment-address-dropdown, #supercheckout-front-main .shipping-address-dropdown{
    margin-bottom: 15px;
}

#supercheckout-front-main #two-column-layout #column-2{
    border-right: none;
}
#supercheckout-front-main #two-column-layout #column-inside-1{
    border-right: 1px solid #ccc;
}
#html-header-block, #html-footer-block {
    padding:0 15px;
}
body{
    zoom:85% !important;
}
#supercheckout-front-main input[type="text"].sc-error , #supercheckout-front-main input[type="email"].sc-error, #supercheckout-front-main input[type="password"].sc-error,
#supercheckout-front-main select.sc-error{
    box-shadow:0px 0px 7px red
}
.btn-number{
    padding: 4px 7px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    width: 14px;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    height: 19px;
    line-height: 20px;
    text-align: center;
}
#supercheckout-front-main #payment_address_form,#supercheckout-front-main #shipping_address_form{
    padding-top: 10px;
}

#shipping-method-block-main-content, #shipping-method-block-main-content {
	padding: 5px 10px 0px;
}

.page-title-wrapper {
	border-top: 0px solid #e2e2e2;
    margin: 0 26px 0px 15px;
}

h1.page-title {
	margin-bottom: 4px;
    font-size: 31px;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    body{
        zoom:95% !important;
    }
    #supercheckout-front-main.supercheckout-responsive .supercheckout-column{
        width:100% !important;
    }
    #supercheckout-front-main #column-1, #supercheckout-front-main #column-2{
        border-right: none;
    }
    #supercheckout-front-main #two-column-layout #column-inside-1{
        border-right: none;
    }
    #supercheckout-front-main .supercheckout-blocks {
        padding: 10px 5px;
    }
    #supercheckout-front-main .supercheckout-column{
        min-height:auto !important;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
    #supercheckout-front-main .social-login{
        width:45%;
    }
    #supercheckout-front-main .social-font{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
    #supercheckout-front-main .or-dashed{
        width:44%;
    }
}
@media only screen and (max-width: 320px) {
    #supercheckout-front-main .or-dashed{
        width:40%;
    }
    #supercheckout-front-main .social-login {
        width: 46%;
    }
    #supercheckout-front-main .social-font{
        font-size: 1.8rem;
    }
    #cart-table thead > tr > th span{
        font-size: 1.4rem;
    }
    #supercheckout-front-main #cart-table .supercheckout-price-excluding-tax .supercheckout-price{
        font-size: 1.4rem;
    }
    #supercheckout-front-main table > thead > tr > th, #supercheckout-front-main  table > tbody > tr > th, #supercheckout-front-main table > tfoot > tr > th, #supercheckout-front-main table > thead > tr > td, #supercheckout-front-main table > tbody > tr > td, #supercheckout-front-main table > tfoot > tr > td{
        padding: 10px 8px;
    }
    #supercheckout-front-main #cart-block.supercheckout-blocks{
        padding:15px 0px;
    }
    #supercheckout-front-main #cart-block .block-heading-content{
        padding: 0 10px;
    }
    #supercheckout-front-main #notifications-gritter .sc-success{
        text-align: center;
    }
    #supercheckout-front-main #notifications-gritter .sc-danger{
        text-align: center;
    }
}
@media only screen and (max-width: 480px) and (min-width: 321px) {
    #supercheckout-front-main .or-dashed{
        width:42%;
    }
}


