<?php $sort_data =  $this->getSortOrder("cart"); ?>
<?php if($this->isCartEnable()){ ?>
<div class="supercheckout-blocks" id="cart-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
    <div class="block-heading-content">
        <span class="sc-font-size-30 icon-checkmark block-heading-icon"></span>
        <span class="block-heading-text"><?php echo __("Cart");?></span>
        <span class="sc-loader sc-font-size-20 sc sc-spin icon-spinner4"></span>
        <div class="supercheckout-clear"></div>
    </div>
    <table id="cart-table">
            <thead>
                <tr>
                    <th><span><?php echo __("Item"); ?></span></th>
                    <?php if($this->isProductPriceEnable()){ ?>
                    <th><span><?php echo __("Price"); ?></span></th>
                    <?php } ?>
                    <?php if($this->isProductQtyEnable()){ ?>
                    <th style="text-align:center;"><span><?php echo __("Qty"); ?></span></th>
                    <?php } ?>
                    <th style="text-align: right"><span><?php echo __("Subtotal"); ?></span></th>
                </tr>
            </thead>
        <?php foreach ($block->getCartItems() as $_item): ?>
            <tbody>
                <tr>
                    <td>
                        <a id="popover-<?php echo $_item["item_id"]; ?>" href="<?php echo $_item["product_url"]; ?>" title="<?php echo $_item["name"]; ?>" tabindex="-1" class="product-item-photo">
                            <span class="supercheckout-product-image-container" style="width: 50px;">
                                <span class="supercheckout-product-image-wrapper" style="padding-bottom: 100%;">
                                    <img class="supercheckout-product-image-photo" src="<?php echo $_item["image"]; ?>" width="50" height="50" alt="<?php echo $_item["name"]; ?>"></span>
                            </span>
                        </a>
                        <?php if($this->isPopUpEnable()){ ?>
                        <div id="popover-content-<?php echo $_item["item_id"]; ?>" style="display: none;">
                            <img src="<?php echo $_item["popover_image"]; ?>">
                        </div>
                        <?php } ?>
                        <?php if($this->isProductNameEnable()){ ?>
                        <div>
                            <strong class="supercheckout-product-item-name">
                                <a id="popover-name-<?php echo $_item["item_id"]; ?>" href="<?php echo $_item["product_url"]; ?>"><?php echo $_item["name"]; ?></a>
                            </strong>
                            <div class="supercheckout-item-options">
                                <?php foreach($_item["options"] as $option){  ?>
                                <div><strong><?php echo $option["label"]; ?>: </strong><?php echo $option["value"]; ?></div>
                                <?php } ?>
                            </div>
                        </div>
                        <?php } ?>
                        <?php if($this->isPopUpEnable()){ ?>
                        <script>
                             require(['jquery','Knowband_Supercheckout/js/webui-popover'],function($,webuiPopover){
                                $('#popover-<?php echo $_item["item_id"]; ?>').webuiPopover({url:'#popover-content-<?php echo $_item["item_id"]; ?>',placement:'left',trigger:'hover'});
                            });
                        </script>
                        <?php } ?>
                    </td>
                    <?php if($this->isProductPriceEnable()){ ?>
                    <td>
                        <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceInclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                            <span class="supercheckout-price-including-tax">
                                <span class="supercheckout-price"><?php echo $block->getPriceInclTax($_item["item_object"]); ?></span>
                            </span>
                            <span class="supercheckout-tax-label"><?php echo $block->escapeHtml(__('Incl. Tax')); ?></span>
                        <?php endif; ?>
                        <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceExclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                            <span class="supercheckout-price-excluding-tax">
                                <span class="supercheckout-price"><?php echo $block->getPriceExclTax($_item["item_object"]); ?></span>
                            </span>
                            <span class="supercheckout-tax-label"><?php echo $block->escapeHtml(__('Excl. Tax')); ?></span>
                        <?php endif; ?>
                    </td>
                    <?php } ?>
                    <?php if($this->isProductQtyEnable()){ ?>
                    <td style="text-align:center;">
                        <div>
                            <div>
                                <span class="input-group-btn">
                                      <span type="button" class="btn-number" disabled="disabled" data-type="minus" data-field="cart[<?php echo $_item["item_id"]; ?>][qty]">
                                          -
                                      </span>
                                  </span>
                                <input id="cart-<?php echo $_item["item_id"]; ?>-qty" name="cart[<?php echo $_item["item_id"]; ?>][qty]"  value="<?php echo $_item["qty"]; ?>" type="number" size="4" title="<?php echo __("Qty"); ?>" class="supercheckout-qty input-number" min="1" max="999" maxlength="12" data-validate="{required:true,'validate-greater-than-zero':true}" data-role="cart-item-qty">
                                <span class="input-group-btn">
                                      <span type="button" class="btn-number" data-type="plus" data-field="cart[<?php echo $_item["item_id"]; ?>][qty]">
                                          +
                                      </span>
                                  </span>
                            </div>
                            <div class="supercheckout-actions">
                                <span onclick="updateItem(<?php echo $_item["item_id"]; ?>)" class="icon-loop2 sc-margin-right-5 supercheckout-pointer cart-item-update"></span>
                                <span onclick="removeItem(<?php echo $_item["item_id"]; ?>)" class="icon-bin supercheckout-pointer cart-item-delete"></span>
                            </div>
                        </div>
                    </td>
                    <?php } ?>
                    <td style="text-align: right">
                        <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceInclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                            <span class="supercheckout-price-including-tax">
                                <span class="supercheckout-price"><?php echo $block->getSubtotalInclTax($_item["item_object"]); ?></span>
                            </span>
                            <span class="supercheckout-tax-label"><?php echo $block->escapeHtml(__('Incl. Tax')); ?></span>
                        <?php endif; ?>
                        <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceExclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                            <span class="supercheckout-price-excluding-tax">
                                <span class="supercheckout-price"><?php echo $block->getSubtotalExclTax($_item["item_object"]); ?></span>
                            </span>
                            <span class="supercheckout-tax-label"><?php echo $block->escapeHtml(__('Excl. Tax')); ?></span>
                        <?php endif; ?>
                    </td>
                </tr>
            </tbody>
            <?php endforeach ?>
        </table>
    <?php if($this->isVoucherEnable()){ ?>
        <table id="cart-voucher-table">
            <tbody>
                <tr>
                    <td class="sc-voucher-title"><?php echo __("Voucher"); ?></td>
                    <td class="sc-voucher-box">
                        <div class="voucher-block">
                            <input type="text" id="sc-voucher" name="voucher"  value="<?php echo $this->couponCode(); ?>" title="<?php echo __("Voucher"); ?>" class="supercheckout-qty">
                            <?php if(!$this->couponCode()){ ?>
                            <button type="button" class="supercheckout-action supercheckout-primary" id="voucher-apply-button" onclick="applyVoucher()"><span><?php echo __("Apply"); ?></span></button>
                            <?php }else{ ?>
                            <button type="button" class="supercheckout-action supercheckout-primary" id="voucher-remove-button" onclick="removeVoucher()"><span><?php echo __("Remove"); ?></span></button>
                            <?php } ?>
                            <div class="supercheckout-clear"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <?php } ?>
    <?php if($this->isTotalsEnable()){ ?>
        <?php echo  $this->getChildHtml(); ?>
    <?php } ?>
</div>
<?php } ?>