<?php $sort_data =  $this->getSortOrder("confirm"); ?>
<div class="supercheckout-blocks" id="confirm-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
        <div id="confirm-block-main-content" class="block-main-content">
                <div class="supercheckout-primary">
                    <button type="button" class="supercheckout-action supercheckout-primary"  id="place-order">
                        <span class="place-order-spinner sc-font-size-18 sc sc-spin icon-spinner4"></span>
                        <span>
                            <?php echo __("Place Order"); ?>
                        </span></button>
                </div>
                <div class="supercheckout-clear"></div>
        </div>
</div>
