<?php
$sort_data = $this->getSortOrder("login");
?>
<div class="supercheckout-blocks" id="login-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
    <div class="block-heading-content">
        <span class="sc-font-size-30 icon-user block-heading-icon"></span>
        <span class="block-heading-text"><?php echo ($this->getGreeting()!==FALSE)?$this->getGreeting(): __("Login Options"); ?></span>
        <span class="sc-loader sc-font-size-20 sc sc-spin icon-spinner4"></span>
        <div class="supercheckout-clear"></div>
    </div>
    <div id="login-block-main-content" class="block-main-content <?php echo $this->getDefaultRadioLogin().'-event'; ?>">
        <?php if($block->isLoggedIn()){ ?>
        <ol class="rectangle-list">                            
            <li>
                <a href="<?php echo $this->getMyAccountUrl(); ?>"><?php echo __("My Account"); ?></a>
            </li>
            <li>
                <a href="<?php echo $this->getLogoutUrl(); ?>"><?php echo __("Logout"); ?></a>
            </li>
            <div class="supercheckout-clear"></div>
        </ol>
        <div id="supercheckout-register-options-block" style="<?php echo ($this->showDob() || $this->showGender() || $this->showTaxvat())?'display:block;':""; ?>">
            <?php if($this->showDob()){ ?>
            <div class="supercheckout-field <?php echo $this->isDobRequired()?"supercheckout-required":""; ?>" <?php if(!$this->showGender() && !$this->showTaxvat()){echo 'style="width:95%;"'; }?>>
                <label class="label" for="supercheckout-dob"><span><?php echo __("Date of Birth"); ?></span></label>
                <div class="supercheckout-control">
                    <input type="text" name="register[dob]" id="supercheckout-dob" value="<?php echo (null != $this->quote->getData("sc-dob"))?$this->quote->getData("sc-dob"):"";?>">
                </div>
            </div>
            <?php } ?>
            <?php if($this->showGender()){ ?>
            <div class="supercheckout-field gender <?php echo $this->isGenderRequired()?"supercheckout-required":""; ?>" <?php if(!$this->showDob() && !$this->showTaxvat()){echo 'style="width:95%;"'; } ?>>
                <label class="label" for="supercheckout-gender"><span><?php echo __("Gender"); ?></span></label>
                <div class="supercheckout-control">
                    <select id="supercheckout-gender" name="register[gender]" title="<?php echo __("Gender"); ?>">
                        <option value="" selected="selected"> </option>
                        <option value="1" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "1"?'selected="selected"':"";?>>Male</option>
                        <option value="2" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "2"?'selected="selected"':"";?>>Female</option>
                        <option value="3" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "3"?'selected="selected"':"";?>>Not Specified</option>
                    </select>
                </div>
            </div>
            <?php } ?>
            <?php if($this->showTaxvat()){ ?>
            <div class="supercheckout-field <?php echo $this->isTaxvatRequired()?"supercheckout-required":""; ?>" <?php if((!$this->showDob() && $this->showGender()) || ($this->showDob() && !$this->showGender())){echo 'style="width:46%;"'; }else{ echo 'style="width:95%;"';} ?>>
                <label class="label" for="supercheckout-gender"><span><?php echo __("Tax/Vat Number"); ?></span></label>
                <div class="supercheckout-control">
                    <input type="text" name="register[taxvat]" id="supercheckout-taxvat" value="<?php echo (null != $this->quote->getData("sc-taxvat"))?$this->quote->getData("sc-taxvat"):"";?>">
                </div>
            </div>
            <?php } ?>
            <div class="supercheckout-clear"></div>
        </div>
        <?php }else{ ?>
        <div class="supercheckout-fieldset">
                <?php 
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
                    $FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
                ?>
                <div class="supercheckout-field">
                    <label class="label" for="supercheckout-email"><span><?php echo __("Email"); ?></span></label>
                    <div class="supercheckout-control">
                        <input name="login[username]" value="<?php echo (null != $this->quote->getData("sc-email"))?$this->quote->getData("sc-email"):"";?>"  id="supercheckout-email" type="email" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" >
                    </div>
                </div>
                <?php if($this->showLoginRadios()){ ?>
                <div class="supercheckout-field">
                    <?php if(isset($block->sc_settings["supercheckout"]["guest_checkout"]) && $block->sc_settings["supercheckout"]["guest_checkout"]){?>
                    <div class="supercheckout-radio-field">
                        <input <?php echo ($this->getDefaultRadioLogin() == "guest")?'checked="checked"':''; ?> type="radio" name="login[process]" title="<?php echo __("Guest Checkout without password"); ?>" value="guest" id="is_guest" class="radio">
                        <label for="is_guest" class="label"><span><?php echo __("Guest Checkout without password"); ?></span></label>
                    </div>
                    <?php } ?>
                    <div class="supercheckout-radio-field">
                        <input <?php echo ($this->getDefaultRadioLogin() == "login")?'checked="checked"':''; ?> type="radio" name="login[process]" title="<?php echo __("I have a store account"); ?>" value="login" id="is_registered" class="radio">
                        <label for="is_registered" class="label"><span><?php echo __("I have a store account"); ?></span></label>
                    </div>
                    <?php if(isset($block->sc_settings["supercheckout"]["register_guest"]) && $block->sc_settings["supercheckout"]["register_guest"]){?>
                    <div class="supercheckout-radio-field">
                        <input <?php echo ($this->getDefaultRadioLogin() == "register")?'checked="checked"':''; ?> type="radio" name="login[process]" title="<?php echo __("Crea un account"); ?>" value="register" id="create_account" class="radio">
                        <label for="create_account" class="label"><span><?php echo __("Crea un account"); ?></span></label>
                    </div>
                    <?php } ?>
                </div>
                <?php } ?>
                <div id="supercheckout-login-options-block">
                    <div class="supercheckout-field">
                        <label for="supercheckout-pass" class="label"><span><?php echo __("Password"); ?></span></label>
                        <div class="supercheckout-control">
                            <input name="login[password]" type="password"  class="input-text" id="supercheckout-pass" title="<?php echo __("Password"); ?>" data-validate="{required:true}" >
                        </div>
                    </div>
                    <div class="supercheckout-actions-toolbar">
                        <div class="supercheckout-primary">
                            <button type="button" class="supercheckout-action supercheckout-primary" id="login-button"><span><?php echo __("Sign In"); ?></span></button>
                        </div>
                        <div class="supercheckout-secondary">
                            <a class="supercheckout-action remind" href="<?php echo $this->getCustomerForgotPasswordUrl(); ?>"><span><?php echo __("Forgot Your Password?"); ?></span></a>
                        </div>
                        <div class="supercheckout-clear"></div>
                    </div>
                </div>
                <div id="supercheckout-register-options-block">
                    <?php if($this->showDob()){ ?>
                    <div class="supercheckout-field <?php echo $this->isDobRequired()?"supercheckout-required":""; ?>" <?php if(!$this->showGender() && !$this->showTaxvat()){echo 'style="width:95%;"'; }?>>
                        <label class="label" for="supercheckout-dob"><span><?php echo __("Date of Birth"); ?></span></label>
                        <div class="supercheckout-control">
                            <input type="text" name="register[dob]" id="supercheckout-dob" value="<?php echo (null != $this->quote->getData("sc-dob"))?$this->quote->getData("sc-dob"):"";?>">
                        </div>
                    </div>
                    <?php } ?>
                    <?php if($this->showGender()){ ?>
                    <div class="supercheckout-field gender <?php echo $this->isGenderRequired()?"supercheckout-required":""; ?>" <?php if(!$this->showDob() && !$this->showTaxvat()){echo 'style="width:95%;"'; } ?>>
                        <label class="label" for="supercheckout-gender"><span><?php echo __("Gender"); ?></span></label>
                        <div class="supercheckout-control">
                            <select id="supercheckout-gender" name="register[gender]" title="<?php echo __("Gender"); ?>">
                                <option value="" selected="selected"> </option>
                                <option value="1" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "1"?'selected="selected"':"";?>>Male</option>
                                <option value="2" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "2"?'selected="selected"':"";?>>Female</option>
                                <option value="3" <?php echo (null != $this->quote->getData("sc-gender")) && $this->quote->getData("sc-gender") == "3"?'selected="selected"':"";?>>Not Specified</option>
                            </select>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if($this->showTaxvat()){ ?>
                    <div class="supercheckout-field <?php echo $this->isTaxvatRequired()?"supercheckout-required":""; ?>" <?php if((!$this->showDob() && $this->showGender()) || ($this->showDob() && !$this->showGender())){echo 'style="width:46%;"'; }else{ echo 'style="width:95%;"';} ?>>
                        <label class="label" for="supercheckout-gender"><span><?php echo __("Tax/Vat Number"); ?></span></label>
                        <div class="supercheckout-control">
                            <input type="text" name="register[taxvat]" id="supercheckout-taxvat" value="<?php echo (null != $this->quote->getData("sc-taxvat"))?$this->quote->getData("sc-taxvat"):"";?>">
                        </div>
                    </div>
                    <?php } ?>
                    <div class="supercheckout-field supercheckout-required">
                        <label class="label" for="supercheckout-password"><span><?php echo __("Password"); ?></span></label>
                        <div class="supercheckout-control">
                            <input type="password" name="register[password]" id="supercheckout-password" value="<?php echo (null != $this->quote->getData("sc-password"))?$this->quote->getData("sc-password"):"";?>">
                        </div>
                    </div>
                    <div class="supercheckout-field supercheckout-required">
                        <label class="label" for="supercheckout-confirm-password"><span><?php echo __("Confirm Password"); ?></span></label>
                        <div class="supercheckout-control">
                            <input type="password" name="register[confirm_password]" id="supercheckout-confirm-password" value="<?php echo (null != $this->quote->getData("sc-confirm-password"))?$this->quote->getData("sc-confirm-password"):"";?>">
                        </div>
                    </div>
                    <div class="supercheckout-clear"></div>
                </div>
        </div>
        <?php if($this->isFBEnabled() || $this->isGoogleEnabled()){?>
        <div class="supercheckout-control">
            <div class="or-dashed"></div>
            <div class="supercheckout-circle"><?php echo __("OR"); ?></div>
            <div class="or-dashed"></div>
            <div class="supercheckout-clear"></div>
        </div>
        <div style="margin-top: 10px;">
            <?php if($this->isFBEnabled()){?>
            <div class="social-login facebook-login supercheckout-pointer" id="fb-auth">
                <div id="fb-root"></div>
                <span class="social-font-size-25 icon-facebook" ></span>
                <span class="social-font"><?php echo __("Facebook"); ?></span>
            </div>
            <?php } ?>
            <?php if($this->isGoogleEnabled()){?>
            <div class="social-login google-login supercheckout-pointer" id="google-auth">
                <span class="social-font-size-25 icon-google"></span>
                <span class="social-font"><?php echo __("Google"); ?></span></div>
            <?php } ?>
            <div class="supercheckout-clear"></div>
        </div>
        <?php } ?>
        <?php } ?>
    </div>
</div>
<?php if(!$block->isLoggedIn()){ ?>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage',
        "mage/calendar"
    ], function($){

       var dataForm = $('#custom-form');
       dataForm.mage('validation', {});
       
       $("input[name='login[process]']").click(function(){
           var value = $("input[name='login[process]']:checked").val();
           var login_options = ["login","guest","register"];
           $.each(login_options,function(i, ele){
               if(ele != value){
                   $("#login-block-main-content").removeClass(ele+"-event");
               }else{
                   $("#login-block-main-content").addClass(ele + "-event");
               }
           });
           
       });
       
        window.login_click = false
        $("#login-button").on('click',function(){
            if(!window.login_click){
                window.login_click = true;
                if(!validateEmail($("#supercheckout-email").val())){
                    notificationSC('danger',"<?php echo __("The email id is not valid."); ?>");
                    window.login_click = false;
                }else{
                    $.ajax({
                        url:"<?php echo $this->getLoginUrl(); ?>",
                        data:{login:{username:$("#supercheckout-email").val(),password:$("#supercheckout-pass").val()},form_key:"<?php echo $FormKey->getFormKey();?>"},
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('login');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                location.reload();
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }else if(json["redirect"]){
                                window.location.href = json["redirect"];
                            }

                            window.login_click = false;
                            hideLoaderSC('login');
                        },
                        error:function(){
                            window.login_click = false;
                        }
                    });
                }
            }
        });

    });
    
    <?php if($this->isFBEnabled()){?>
    var userInfo;
    window.fbAsyncInit = function() {
        FB.init({
            appId: '<?php echo $this->sc_settings["supercheckout"]["facebook_app_id"]; ?>',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });
        function updateButton(response) {
            require(['jquery'], function($){
            userInfo     =   document.getElementById('user-info');
            if (response.authResponse) {
                $("#fb-auth").on("click",function() {
                    FB.logout(function(response) {
                        logout(response);
                        showLoaderSC('login');
                        FB.login(function(response) {
                            if (response.authResponse) {
                                 FB.api('/me?fields=email,first_name,last_name,gender', function(info) {
                                    login(response, info);
                                });
                            } else {
                                //user cancelled login or did not grant authorization
                                hideLoaderSC('login');
                            }
                        }, {
                            scope:'email'
                        });
                    });
                });
            } else {
                //user is not connected to your app or logged out
                $("#fb-auth").on("click",function() {
                    showLoaderSC('login');
                    FB.login(function(response) {
                        if (response.authResponse) {
                            FB.api('/me?fields=email,first_name,last_name,gender', function(info) {
                                login(response, info);
                            });
                        } else {
                            //user cancelled login or did not grant authorization
                            hideLoaderSC('login');
                        }
                    }, {
                        scope:'email'
                    });
                });
            }
            });
        }

        // run once with current status and whenever the status changes
        FB.getLoginStatus(updateButton);
        FB.Event.subscribe('auth.statusChange', updateButton);
    };
        
    (function() {
        var e = document.createElement('script');
        e.async = true;
        e.src = document.location.protocol
            + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());


    function login(response, info){
        if (response.authResponse) {

            hideLoaderSC('login');
                fqlQuery();
        }
    }
    function logout(response){
        hideLoaderSC('login');
    }
    function fqlQuery(){
        showLoaderSC('login');
        FB.api('/me?fields=email,first_name,last_name,gender', function(response) {
            console.log(response);
            hideLoaderSC('login');
            var query       =  FB.Data.query('select name,first_name,last_name,email, profile_url, sex, pic_small,contact_email from user where uid={0}', response.id);
            require(['jquery'], function($){
                showLoaderSC('login');
                $.ajax({
                    url: '<?php echo $this->getSocialRegisterUrl(); ?>',
                    method:'POST',
                    data:{login:{email:response.email,firstname:response.first_name,lastname:response.last_name, gender:response.gender}},
                    dataType:'json',
                    success: function(json) {
                        if(json["success"]){
                            notificationSC('success',json["success"]);
                            location.reload();
                        }else if(json["error"]){
                            notificationSC('danger',json["error"]);
                        }
                        hideLoaderSC('login');
                    },
                    complete: function(){
                        hideLoaderSC('login');
                    }
                });
            });
        });
    }
    <?php } ?>
       
</script>
<?php if($this->isGoogleEnabled()){ ?>
 <script src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript">
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      function initClient() {
        gapi.client.init({
            apiKey:'<?php echo $this->sc_settings["supercheckout"]["google_app_id"]; ?>',
            discoveryDocs: ["https://people.googleapis.com/$discovery/rest?version=v1"],
            clientId: '<?php echo $this->sc_settings["supercheckout"]["google_client_id"]; ?>',
            scope: 'profile'
        }).then(function () {
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
          gapi.auth2.getAuthInstance().signOut();
//          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        });
      }
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          makeApiCall();
        }
      }
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }
      function makeApiCall() {
        gapi.client.people.people.get({
          resourceName: 'people/me',
          personFields: 'names,emailAddresses,genders',
        }).then(function(response) {
            showLoaderSC('login');            
            require(['jquery'], function($){
                $.ajax({
                    url: '<?php echo $this->getSocialRegisterUrl(); ?>',
                    method:'POST',
                    data:{login:{email:response.result.emailAddresses[0].value,firstname:response.result.names[0].givenName,lastname:response.result.names[0].familyName,gender:response.result.genders[0].value}},
                    dataType:'json',
                    success: function(json) {
                        if(json["success"]){
                            notificationSC('success',json["success"]);
                            location.reload();
                        }else if(json["error"]){
                            notificationSC('danger',json["error"]);
                        }
                    },
                    complete: function(){
                        hideLoaderSC('login');
                    }
                });
            });
        }, function(reason) {
          console.log('Error: ' + reason.result.error.message);
        });
      }
        require(['jquery'], function($){
            $("#google-auth").on("click",function(e){
                e.preventDefault();
                handleAuthClick();
            });
        });
      gapi.load('client', handleClientLoad);
    </script>
    <?php } ?>
<?php } ?>
    <script>
        require(['jquery','mage/mage',"mage/calendar"], function($){
            $("#supercheckout-dob").calendar({
                showsTime: false,
                dateFormat: "<?php echo $this->getDateFormat(); ?>",
                yearRange: "-120y:c+nn",
                maxDate: "-1d",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly:false,
                showButtonPanel:false,
                showOn: "both"
            });
        });
        function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
        }
    </script>