<?php if(isset($this->_settings["supercheckout"]["enable_payment_methods"]) && $this->_settings["supercheckout"]["enable_payment_methods"]){ ?>
<?php $sort_data = $this->helper('Knowband\Supercheckout\Helper\Data')->getSortOrder("payment_method"); ?>
<?php $sort_data_confirm = $this->helper('Knowband\Supercheckout\Helper\Data')->getSortOrder("confirm"); ?>
<div class="supercheckout-blocks" id="payment-method-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
    <div class="block-heading-content">
        <span class="sc-font-size-30 icon-coin-dollar block-heading-icon"></span>
        <span class="block-heading-text"><?php echo __("Payment Method"); ?></span>
        <span class="sc-loader sc-font-size-20 sc sc-spin icon-spinner4"></span>
        <div class="supercheckout-clear"></div>
    </div>
    <div id="shipping-method-block-main-content" class="block-main-content">
        <form action="<?php  echo $block->getPostActionUrl() ?>" method="post" id="multishipping-billing-form" class="form multicheckout billing">
            <div class="block block-billing">
                <div class="block-content">

                        <div class="supercheckout-fieldset">
                            <div class="box-content">
                                <?php echo $block->getChildHtml('payment_methods_before') ?>
                                <?php /* Payment methods forms list */ ?>
                                <dl class="items methods-payment" id="payment-methods">
                                <?php
                                $_methods = $block->getMethods();
                                $_methodsCount = count($_methods);
                                ?>
                                    <?php foreach ($_methods as $_method): $_code = $_method->getCode() ?>
                                        <dt class="item-title">
                                        <?php if ($_methodsCount > 1): ?>
                                            <input type="radio" id="p_method_<?php  echo $_code ?>" value="<?php  echo $_code ?>" name="payment[method]" title="<?php echo $block->escapeHtml($_method->getTitle()) ?>" <?php if ($block->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio" onclick="savePaymentMethod(this)"/>
                                        <?php else : ?>
                                            <input type="radio" id="p_method_<?php  echo $_code ?>" value="<?php  echo $_code ?>" name="payment[method]" checked="checked" class="radio solo method" onclick="savePaymentMethod(this)"/>
                                        <?php endif; ?>
                                        <label for="p_method_<?php  echo $_code ?>"><?php echo $block->escapeHtml($_method->getTitle()) ?></label>
                                        </dt>
                                        
                                        <div class="supercheckout-payment-methods-content">
                                        <?php if ($html = $block->getChildHtml('payment.method.' . $_code)) : ?>
                                            <dd class="item-content">
                                                <?php if(!($_method->getCode() == 'banktransfer')){ ?>
                                                    <?php  echo $html; ?>
                                                <?php } ?>
                                                <div id="checkout_agreement_<?php echo $_method->getCode(); ?>" style="display:none;">
                                                    <input type="checkbox" id="terms_and_condition_<?php echo $_method->getCode(); ?>" class="" >
                                            <label class="label" >
                                                <a href="<?php echo "https://rfrfabianoricci.it/termini-e-condizioni"; ?>" target="__blank" class="action" >
                                                    <span ><font><font><?php echo __('I accept the conditions of sale'); ?></font></font></span>
                                                </a>
                                            </label>
                                                    <div class="mage-error" style="display:none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <?php echo __('This is a mandatory field.'); ?></font></font></div>
                                                  </div>
                                            </dd>
                                            <?php endif; ?>
                                        </div>
                                        
                                    <?php endforeach; ?>
                                </dl>
                                    <?php echo $block->getChildHtml('payment_methods_after') ?>
                                <?php echo $block->getChildHtml('checkout_billing_items') ?>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
<?php } ?>

<style>
    .mage-error {
    color: red;
}
</style>