<?php $sort_data =  $this->getSortOrder("shipping_address"); ?>
<div class="supercheckout-blocks" id="shipping-address-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
    <div class="block-heading-content">
        <span class="sc-font-size-30 icon-directions_boat block-heading-icon"></span>
        <span class="block-heading-text"><?php echo __("Shipping Address");?></span>
        <span class="sc-loader sc-font-size-20 sc sc-spin icon-spinner4"></span>
        <div class="supercheckout-clear"></div>
    </div>
    <div id="shipping-address-block-main-content" class="block-main-content">
        <?php if($this->showAddressDropdown()){ ?>
        <div class="shipping-address-dropdown">
            <div>
                <?php echo $block->getAddressesHtmlSelect(); ?>
            </div>
        </div>
        <?php } ?>
        <div id="shipping_address_form" style="<?php echo $this->showAddressDropdown() && !$this->isNewShippingSelected()?'display:none;':"";?>">
        <?php foreach($this->getShippingAddressFields() as $fields){ ?>
            <?php if($fields["enabled"]){ ?>
                <?php 
                $show = $this->isLoggedIn()?$fields["display_login"]?true:false:$fields["display_guest"]?true:false;
                if($fields["enabled"] && $show){ ?>
                <div id="shipping-block-field-<?php echo $fields["name"]; ?>" class="supercheckout-field <?php echo $this->isLoggedIn()?$fields["required_login"]?"supercheckout-required":"":$fields["required_guest"]?"supercheckout-required":""; ?>" sort-data="<?php echo $fields["sort_order"]; ?>">
                    <?php if($fields["label"]){ ?>
                    <label class="label" for="supercheckout-shipping-<?php echo $fields["name"]; ?>"><span><?php echo $fields["label"]; ?></span></label>
                    <?php }else{ ?>
                    <div class="sc-margin-top-5"></div>
                    <?php } ?>
                    <div class="supercheckout-control">
                        <?php if($fields["type"] == "text"){ ?>
                            <input name="shipping[<?php echo $fields["name"]; ?>]" value="<?php echo $fields["value"]; ?>" id="supercheckout-shipping-<?php echo $fields["name"]; ?>" type="<?php echo $fields["type"]; ?>" class="input-text" title="<?php echo $fields["label"]; ?>" <?php echo (isset($fields["onblur"]) && $fields["onblur"])?'onblur="'.$fields["onblur"] .'"':"";?>>
                        <?php }else{ ?>
                            <select name="shipping[<?php echo $fields["name"]; ?>]" id="supercheckout-shipping-<?php echo $fields["name"]; ?>" <?php echo (isset($fields["onchange"]) && $fields["onchange"])?'onchange="'.$fields["onchange"] .'"':"";?>>
                                <?php foreach($fields["options"] as $option){ ?>
                                <option <?php echo isset($option["selected"]) && $option["selected"]?'selected="selected"':""; ?> value="<?php echo  $option["id"];?>"><?php echo $option["label"];?></option>
                                <?php } ?>
                            </select>
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>
            <?php } ?>
        <?php } ?>
        </div>
    </div>
</div>
