<?php if(isset($this->sc_settings["supercheckout"]["enable_shipping_methods"]) && $this->sc_settings["supercheckout"]["enable_shipping_methods"]){ ?>

<?php $sort_data = $this->getSortOrder("shipping_method"); ?>
<div class="supercheckout-blocks" id="shipping-method-block" col-data="<?php echo $sort_data["col"]; ?>" row-data="<?php echo $sort_data["row"]; ?>" inside-data="<?php echo $sort_data["inside"]; ?>">
    <div class="block-heading-content">
        <span class="sc-font-size-30 icon-local_shipping block-heading-icon"></span>
        <span class="block-heading-text"><?php echo __("Shipping Method"); ?></span>
        <span class="sc-loader sc-font-size-20 sc sc-spin icon-spinner4"></span>
        <div class="supercheckout-clear"></div>
    </div>
    <div id="shipping-method-block-main-content" class="block-main-content">
        <?php $_address = $block->getAddresses(); if (!($_shippingRateGroups = $block->getShippingRates($_address))): ?>
            <p><?php  echo __('Sorry, no quotes are available for this order right now.') ?></p>
        <?php else: ?>
        <dl class="supercheckout-items">
            <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
                <dt class="item-title"><?php echo $block->escapeHtml($block->getCarrierName($code)) ?></dt>
                <dd class="item-content">
                    <div class="supercheckout-fieldset">
                        <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
                        <div class="supercheckout-field choice">
                        <?php if ($_rate->getErrorMessage()): ?>
                            <strong><?php echo $block->escapeHtml($_rate->getCarrierTitle()) ?>: <?php echo $block->escapeHtml($_rate->getErrorMessage()) ?></strong>
                        <?php else: ?>
                            <div class="supercheckout-control">
                                <div class="supercheckout-radio-field">
                                <?php if ($_sole) : ?>
                                    <input type="radio" name="shipping_method[<?php echo $_address->getId() ?>]" value="<?php echo $block->escapeHtml($_rate->getCode()) ?>" id="s_method_<?php  echo $_address->getId() ?>_<?php  echo $_rate->getCode() ?>" class="radio solo method" checked="checked" onclick="saveShippinMethod(this)"/>
                                <?php else: ?>
                                    <input type="radio" name="shipping_method[<?php echo $_address->getId() ?>]" value="<?php  echo $_rate->getCode() ?>" id="s_method_<?php  echo $_address->getId() ?>_<?php  echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$block->getAddressShippingMethod($_address)) echo ' checked="checked"' ?> class="radio" onclick="saveShippinMethod(this)"/>
                                <?php endif; ?>
                                <label for="s_method_<?php  echo $_address->getId() ?>_<?php  echo $_rate->getCode() ?>">
                                    <?php echo $block->escapeHtml($_rate->getMethodTitle()) ?>
                                    <?php $_excl = $block->getShippingPrice($_address, $_rate->getPrice(), $this->helper('Magento\Tax\Helper\Data')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $block->getShippingPrice($_address, $_rate->getPrice(), true); ?>
                                <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    <span class="price-including-tax" data-label="<?php  echo __('Incl. Tax'); ?>">
                                <?php endif; ?>
                                    <?php  echo $_incl; ?>
                                <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    </span>
                                <?php endif; ?>
                                <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    <span class="price-excluding-tax" data-label="<?php  echo __('Excl. Tax'); ?>"><?php  echo $_excl; ?></span>
                                <?php endif; ?>
                                </label>
                                </div>
                            </div>
                        <?php endif ?>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </dd>
            <?php endforeach; ?>
        </dl>
        <?php endif; ?>
        <?php  echo $block->getItemsBoxTextAfter($_address); ?>
    </div>
</div>
<?php } ?>