<div id="supercheckout-front-main" class="supercheckout-responsive">
    <?php $this->getChildHtml("supercheckout_three_header_html"); ?>
    <form method="post" id="supercheckout-main-form" action="<?php echo $this->getSaveOrderUrl(); ?>">
        <?php 
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
            $FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
        ?>
        <input type="hidden" name="form_key" value="<?php echo $FormKey->getFormKey();?>"/>
        <?php 
        if(isset($block->sc_settings["supercheckout"]["enable"]) && $block->sc_settings["supercheckout"]["enable"]){
            if(isset($block->sc_settings["supercheckout"]["layout-type"]) && $block->sc_settings["supercheckout"]["layout-type"] == "two"){ ?>
               
                <div id="two-column-layout">
                    <?php $column_widths = $this->getColumnWidth("twocolumn"); ?>
                    <div class="supercheckout-column" id="column-inside-1" style="width:<?php echo $column_widths["one"]; ?>%">
                        <?php echo $this->getChildHtml(); ?>
                    </div>
                    <div class="supercheckout-column" id="column-2" style="width:<?php echo (int)$column_widths["two"] - 1; ?>%">
                        <div class="supercheckout-column" id="column-inside-2" style="width:100%">

                        </div>
                        <div class="supercheckout-column" id="column-inside-3" style="width:<?php echo $column_widths["inside_one"]; ?>%">

                        </div>
                        <div class="supercheckout-column" id="column-inside-4" style="width:<?php echo $column_widths["inside_two"]; ?>%">

                        </div>
                        <div class="supercheckout-clear"></div>
                        <div class="supercheckout-column" id="column-inside-5" style="width:100%">

                        </div>
                    </div>
                    <div class="supercheckout-clear"></div>
                </div>
                <script type="text/javascript">
                    require(['jquery', 'jquery/ui'], function($){
                        $(document).ready(function(){
                            var sortRowsColumns = [];
                            $(".supercheckout-column > div.supercheckout-blocks").each(function(){
                                var sortPart = $(this).attr('row-data');
                                sortRowsColumns.push([ 1 * sortPart , $(this)]);
                            });
                            sortRowsColumns.sort(function(x, y) {
                                return x[0] - y[0];
                            });
                            for (var i=0; i< sortRowsColumns.length; i++) {
                                $('#column-inside-' + $(sortRowsColumns[i][1]).attr('inside-data')).append(sortRowsColumns[i][1]);
                            }
                        });
                    });
                </script>
            <?php }else{ ?>
                <div id="three-column-layout">
                    <?php $column_widths = $this->getColumnWidth("threecolumn"); ?>
                    <div class="supercheckout-column" id="column-1" style="width:<?php echo $column_widths["one"]; ?>%">
                        <?php echo $this->getChildHtml(); ?>
                    </div>
                    <div class="supercheckout-column" id="column-2" style="width:<?php echo $column_widths["two"]; ?>%">

                    </div>
                    <div class="supercheckout-column" id="column-3" style="width:<?php echo ((int)$column_widths["three"] - 1); ?>%">

                    </div>
                    <div class="supercheckout-clear"></div>
                </div>
                <script type="text/javascript">
                    require(['jquery', 'jquery/ui'], function($){
                        $(document).ready(function(){
                            var sortRowsColumns = [];
                            $(".supercheckout-column > div.supercheckout-blocks").each(function(){
                                var sortPart = $(this).attr('row-data');
                                sortRowsColumns.push([ 1 * sortPart , $(this)]);
                            });
                            sortRowsColumns.sort(function(x, y) {
                                return x[0] - y[0];
                            });
                            for (var i=0; i< sortRowsColumns.length; i++) {
                                $('#column-' + $(sortRowsColumns[i][1]).attr('col-data')).append(sortRowsColumns[i][1]);
                            }
                            function columnHeight(){
                                var height = [];
                                $(".supercheckout-column").each(function(){
                                    height.push(parseInt($(this).height()));
                                });
                                var max_val = Math.max.apply(Math, height);
                                $(".supercheckout-column").each(function(){
                                    $(this).css("min-height",max_val);
                                });
                                console.log("Height Re-adjusted");
                            }
                            columnHeight();
                            $(".supercheckout-column > div.supercheckout-blocks").click(function(){
                                columnHeight();
                            });
                        });
                    });
                </script>

            <?php }
        }else{?>
        <div  class="message-error error message" data-ui-id="message-error">
            <div><?php echo __("We can't process your request right now as \"Supercheckout\" is disabled."); ?></div>
        </div>
        <?php } ?>
    <div id="notifications-gritter">
       
    </div>
    </form>
</div>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
?>
<script type="text/javascript">
        require(['jquery'], function($){
            saveShippinMethod($("#shipping-method-block-main-content input[type=radio]:checked"));
        });
        function notificationSC(type,message){
            require(['jquery'], function($){
                if(type == "success"){
                    $("#notifications-gritter").html('<div class="sc-success">'+ message +'</div>');
                }
                else if(type == "danger"){
                    $("#notifications-gritter").html('<div class="sc-danger">'+ message +'</div>');
                }
                setTimeout(function(){
                    $("#notifications-gritter").html('');
                },4000);
            });
        }
        function showLoaderSC(block){
            require(['jquery'], function($){
                if(block != ""){
                    $("#"+ block +"-block .sc-loader").show();
                    $("#"+ block +"-block").addClass('sc-disabled-block');
                }
                disableForm(true);
            });
        }
        function hideLoaderSC(block){
            require(['jquery'], function($){
                if(block != ""){
                    $("#"+ block +"-block .sc-loader").hide();
                    $("#"+ block +"-block").removeClass('sc-disabled-block');
                }
                enableForm(true);
            });
        }
        var requests = [];
        function refreshBlock(block,parallel){
            require(['jquery'], function($){                
                if($.inArray("login", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>login",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("login");
                        },
                        success: function(response){
                            $("#login-block").html($(response).filter("#login-block").html());                            
                            hideLoaderSC("login");
                        },
                        error:function(){
                            hideLoaderSC("login");
                        }
                    });
                }
                if($.inArray("payment-address", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>paymentaddress",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("payment-address");
                        },
                        success: function(response){
                            $("#payment-address-block").html($(response).filter("#payment-address-block").html());
                            hideLoaderSC("payment-address");
                            paymentFormSort();
                        },
                        error:function(){
                            hideLoaderSC("payment-address");
                        }
                    });
                }
                if($.inArray("shipping-address", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>shippingaddress",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("shipping-address");
                            shippingFormSort();
                        },
                        success: function(response){
                            $("#shipping-address-block").html($(response).filter("#shipping-address-block").html());
                            hideLoaderSC("shipping-address");
                        },
                        error:function(){
                            hideLoaderSC("shipping-address");
                        }
                    });
                }
                if($.inArray("shipping-method", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>shippingmethod",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("shipping-method");
                        },
                        success: function(response){
                            $("#shipping-method-block").html($(response).filter("#shipping-method-block").html());
                            hideLoaderSC("shipping-method");
                            saveShippinMethod($("#shipping-method-block-main-content input[type=radio]:checked"));
                        },
                        error:function(){
                            hideLoaderSC("shipping-method");
                        }
                    });
                }
                if($.inArray("payment-method", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>paymentmethod",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("payment-method");
                        },
                        success: function(response){
                            $("#payment-method-block").html($(response).filter("#payment-method-block").html());
                            paymentRadio();
                            hideLoaderSC("payment-method");
                        },
                        error:function(){
                            hideLoaderSC("payment-method");
                        }
                    });
                }
                if($.inArray("cart", block) > -1){
                    requests.push({
                        url:"<?php echo $this->getRefreshUrl(); ?>cart",
                        dataType:"html",
                        beforeSend:function(){
                            showLoaderSC("cart");
                        },
                        success: function(response){
                            $("#cart-block").html($(response).filter("#cart-block").html());
                            if($("#cart-table tbody").length === 0){
                                location.reload();
                            }
                            hideLoaderSC("cart");
                        },
                        error:function(){
                            hideLoaderSC("cart");
                        }
                    });
                }
                if(!parallel){
                    requestNext();
                }else{
                    sendRequests();
                }
            });
        }
        function requestNext() {
            require(['jquery'], function($){
                if (requests.length) {
                     $.ajax(requests.shift()).then(requestNext);
                }
            });
        }
        function sendRequests() {
            require(['jquery'], function($){
                for(var i = 0; i < requests.length; i++){
                     $.ajax(requests[i]);
                }
                requests = [];
            });
        }
        window.delete_click = false;
        function removeItem(item_id){
            require(['jquery'], function($){
                if(!window.delete_click){
                    window.delete_click = true;
                    $.ajax({
                        url:"<?php echo $this->getCartRemoveUrl(); ?>",
                        data:{id:item_id,'form_key':"<?php echo $FormKey->getFormKey();?>"},
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC("cart");
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['cart'],false);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            window.delete_click = false;
                            hideLoaderSC('cart');                            
                        },
                        error:function(){
                            window.delete_click = false;
                            hideLoaderSC("cart");
                        }
                    });
                }
            });
        }
        
        window.update_click = false;
        function updateItem(item_id){
            require(['jquery'], function($){
                if(!window.update_click){                    
                    window.update_click = true;
                    var qty = $("#cart-"+item_id + "-qty").val();
                    $.ajax({
                        url:"<?php echo $this->getCartUpdateUrl(); ?>",
                        data:{cart:{id:item_id,qty:qty}},
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('cart');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['shipping-method','cart'],true);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            window.update_click = false;
                            hideLoaderSC('cart');
                        },
                        error:function(){
                            window.update_click = false;
                            hideLoaderSC("cart");
                        }
                    });
                }
            });
        }
        window.shipping_method_click = false;
        function saveShippinMethod(ele){
            require(['jquery'], function($){
                if(!window.shipping_method_click){
                    window.shipping_method_click = true;
                    var shipping_method = $(ele).val();
                    if(shipping_method){
                        $.ajax({
                            url:"<?php echo $this->getSaveShippingMethodUrl(); ?>",
                            data:{shipping_method:shipping_method},
                            method:"POST",
                            dataType:"json",
                            beforeSend:function(){
                                showLoaderSC('shipping-method');
                            },
                            success: function(json){
                                if(json["success"]){
                                    notificationSC('success',json["success"]);
                                    refreshBlock(['payment-method','cart'],false);
                                }else if(json["error"]){
                                    notificationSC('danger',json["error"]);
                                }
                                window.shipping_method_click = false;
                                hideLoaderSC('shipping-method');
                            },
                            error:function(){
                                window.shipping_method_click = false;
                                hideLoaderSC("shipping-method");
                            }
                        });
                    }
                }
            });
        }
        window.payment_method_click = false;
        function savePaymentMethod(ele){
            require(['jquery'], function($){
                if(!window.payment_method_click){
                    window.payment_method_click = true;
                    var payment_method = $(ele).val();
                    if(payment_method){
                        $("[id^=payment_form_]").hide();
                        $("[id^=checkout_agreement_]").hide();
                        $("#payment_form_"+payment_method).show();
                        $("#checkout_agreement_"+payment_method).show();
                        $.ajax({
                            url:"<?php echo $this->getSavePaymentMethodUrl(); ?>",
                            data:{payment_method:payment_method},
                            method:"POST",
                            dataType:"json",
                            beforeSend:function(){
                                showLoaderSC('payment-method');
                            },
                            success: function(json){
                                if(json["success"]){
                                    notificationSC('success',json["success"]);
                                    refreshBlock(['shipping-method','cart'],false);
                                }else if(json["error"]){
                                    notificationSC('danger',json["error"]);
                                }
                                window.payment_method_click = false;
                                hideLoaderSC('payment-method');
                            },
                            error:function(){
                                window.payment_method_click = false;
                                hideLoaderSC("payment-method");
                            }
                        });
                    }
                }
            });
        }
        function paymentRadio(){
            require(['jquery'], function($){
                var payment_method = $("input[name='payment[method]']:checked").val();
                $("#payment_form_"+payment_method).show();
                $("#checkout_agreement_"+payment_method).show();
            });
        }
        paymentRadio();
        
        
        require(['jquery'], function($){
            window.payment_address_change = false;
            $("#payment_address_select").on("change",function(){
                if(!window.payment_address_change){
                    window.payment_address_change = true;
                    if($(this).val() == "new"){
                        $("#payment_address_form").show();
                    }else{
                        $("#payment_address_form").hide();
                    }
                    $.ajax({
                        url:"<?php echo $this->getSavePaymentAddressUrl(); ?>",
                        data:$("[name^=billing]"),
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('payment-address');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['shipping-method','payment-method','cart'],true);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            hideLoaderSC('payment-address');
                            window.payment_address_change = false;
                        },
                        error:function(){
                            window.payment_address_change = false;
                            hideLoaderSC('payment-address');
                        }
                    });
                }
            });
        });
        require(['jquery'], function($){
            window.shipping_address_change = false;
            $("#shipping_address_select").on("change",function(){
                if(!window.shipping_address_change){
                    window.shipping_address_change = true;
                    if($(this).val() == "new"){
                        $("#shipping_address_form").show();
                    }else{
                        $("#shipping_address_form").hide();
                    }
                    $.ajax({
                        url:"<?php echo $this->getSaveShippingAddressUrl(); ?>",
                        data:$("[name^=shipping]"),
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('shipping-address');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['shipping-method','shipping-method','cart'],true);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            hideLoaderSC('shipping-address');
                            window.shipping_address_change = false;
                        },
                        error:function(){
                            window.shipping_address_change = false;
                            hideLoaderSC('shipping-address');
                        }
                    });
                }
            });
        });
        function paymentFormSort(){
            var sortRows = [];
            require(['jquery'], function($){
            $("#payment_address_form div.supercheckout-field").each(function(){
                var sortPart = $(this).attr('sort-data');
                if (sortPart >= 1) {
                    sortRows.push([ 1 * sortPart , $(this)]);
                }
            });
            sortRows.sort(function(x, y) {
                return x[0] - y[0];
            });
            for (var i=0; i<sortRows.length; i++) {
                $("#payment_address_form").append(sortRows[i][1]);
            }
            });
        }
        paymentFormSort();
        function shippingFormSort(){
            var sortRows = [];
            require(['jquery'], function($){
            $("#shipping_address_form div.supercheckout-field").each(function(){
                var sortPart = $(this).attr('sort-data');
                if (sortPart >= 1) {
                    sortRows.push([ 1 * sortPart , $(this)]);
                }
            });
            sortRows.sort(function(x, y) {
                return x[0] - y[0];
            });
            for (var i=0; i<sortRows.length; i++) {
                $("#shipping_address_form").append(sortRows[i][1]);
            }
            });
        }
        shippingFormSort();
        function onPaymentCountryChange(ele){
            require(['jquery'], function($){
                $.ajax({
                    url:"<?php echo $this->getPaymentRegionsUrl(); ?>",
                    data:{country_id:$(ele).val(),"same_shipping":$("#same_shipping").val()},
                    method:"POST",
                    dataType:"json",
                    beforeSend:function(){
                        showLoaderSC('payment-address');
                    },
                    success: function(json){
                        if(json["regions"].length === 0){
                            $("#payment-block-field-region").show();
                            $("#payment-block-field-region_id").hide();
                        }else{
                            var options = "";
                            for(var i = 0 ; i< json["regions"].length ; i++){
                                options += "<option id="+ json["regions"][i]["id"] +">"+ json["regions"][i]["label"] +"</option>";
                            }
                            $("#supercheckout-payment-region_id").html(options);
                            $("#payment-block-field-region").hide();
                            $("#payment-block-field-region_id").show();
                        }
                        refreshBlock(['shipping-method','payment-method','cart'],true);
                        hideLoaderSC('payment-address');
                    },
                    error:function(){
                        hideLoaderSC('payment-address');
                    }
                });
            });
        }
        function onShippingCountryChange(ele){
            require(['jquery'], function($){
                $.ajax({
                    url:"<?php echo $this->getShippingRegionsUrl(); ?>",
                    data:{country_id:$(ele).val()},
                    method:"POST",
                    dataType:"json",
                    beforeSend:function(){
                        showLoaderSC('shipping-address');
                    },
                    success: function(json){
                        if(json["regions"].length === 0){
                            $("#shipping-block-field-region").show();
                            $("#shipping-block-field-region_id").hide();
                        }else{
                            var options = "";
                            for(var i = 0 ; i< json["regions"].length ; i++){
                                options += "<option id="+ json["regions"][i]["id"] +">"+ json["regions"][i]["label"] +"</option>";
                            }
                            $("#supercheckout-shipping-region_id").html(options);
                            $("#shipping-block-field-region").hide();
                            $("#shipping-block-field-region_id").show();
                        }
                        refreshBlock(['shipping-method','payment-method','cart'],true);
                        hideLoaderSC('shipping-address');
                    },
                    error:function(){
                        hideLoaderSC('shipping-address');
                    }
                });
            });
        }
        function sameShipping(refresh){
            require(['jquery'], function($){
                var sameShipping = $("#same_shipping").is(":checked");
                sameShipping?$("#same_shipping").val("1"):$("#same_shipping").val("0");
                sameShipping?$("#shipping-address-block").hide():$("#shipping-address-block").show();
                if(refresh){
                    if(sameShipping){
                        onPaymentChange(['shipping-address','shipping-method','payment-method','cart']);
                    }else{
                        onPaymentChange(['shipping-method','payment-method','cart']);
                    }
                }
            });
        }
        sameShipping(false);
        
        function onPaymentChange(refresh){
            require(['jquery'], function($){
                window.place_order_click = true;
                $.ajax({
                    url:"<?php echo $this->getSavePaymentAddressUrl(); ?>",
                    data:$("[name^=billing]"),
                    method:"POST",
                    dataType:"json",
                    success: function(json){
                        if(refresh.length > 0){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            refreshBlock(refresh,true);
                        }
                        window.place_order_click = false;
                    },
                    error:function(){
                        window.place_order_click = false;
                    }
                });
            });
        }
        function onShippingChange(refresh){
            require(['jquery'], function($){
                window.place_order_click = true;
                $.ajax({
                    url:"<?php echo $this->getSaveShippingAddressUrl(); ?>",
                    data:$("[name^=shipping]"),
                    method:"POST",
                    dataType:"json",
                    success: function(json){
                        if(refresh){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            refreshBlock(['shipping-method','payment-method','cart'],true);
                        }
                        window.place_order_click = false;
                    },
                    error:function(){
                        window.place_order_click = false;
                    }
                });
            });
        }
        window.apply_voucher_change = false;
        function applyVoucher(){
            require(['jquery'], function($){
                if(!window.apply_voucher_change){
                    window.apply_voucher_change = true;
                    $.ajax({
                        url:"<?php echo $this->getVoucherUrl(); ?>",
                        data:{voucher:$("#sc-voucher").val()},
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('cart');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['cart'],false);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            hideLoaderSC('cart');
                            window.apply_voucher_change = false;
                        },
                        error:function(){
                            hideLoaderSC('cart');
                            window.apply_voucher_change = false;
                        }
                    });
                }
            });
        }
        window.remove_voucher_change = false;
        function removeVoucher(){
            require(['jquery'], function($){
                if(!window.remove_voucher_change){
                    window.remove_voucher_change = true;
                    $.ajax({
                        url:"<?php echo $this->getVoucherUrl(); ?>",
                        data:{voucher:$("#sc-voucher").val(),remove:"1"},
                        method:"POST",
                        dataType:"json",
                        beforeSend:function(){
                            showLoaderSC('cart');
                        },
                        success: function(json){
                            if(json["success"]){
                                notificationSC('success',json["success"]);
                                refreshBlock(['cart'],false);
                            }else if(json["error"]){
                                notificationSC('danger',json["error"]);
                            }
                            hideLoaderSC('cart');
                            window.remove_voucher_change = false;
                        },
                        error:function(){
                            hideLoaderSC('cart');
                            window.remove_voucher_change = false;
                        }
                    });
                }
            });
        }
        function disableForm(placeorder){
            require(['jquery'], function($){
                $("#supercheckout-front-main input").each(function(){
                    $(this).prop("disabled", true);
                });
                $("#supercheckout-front-main select").each(function(){
                    $(this).prop("disabled", true);
                });
                if(placeorder){
                    window.place_order_click = true;
                }
            });
            
        }
        function enableForm(placeorder){
            require(['jquery'], function($){
                $("#supercheckout-front-main input").each(function(){
                    $(this).prop("disabled", false);
                });
                $("#supercheckout-front-main select").each(function(){
                    $(this).prop("disabled", false);
                });
                if(placeorder){
                    window.place_order_click = false;
                }
            });
        }        
        (function(){
            require(['jquery'], function($){
                var country_options = $("#supercheckout-payment-region_id option").length;
                if(country_options === 0){
                    $("#payment-block-field-region").show();
                    $("#payment-block-field-region_id").hide();
                }else{
                    $("#payment-block-field-region").hide();
                    $("#payment-block-field-region_id").show();
                }
                var country_options = $("#supercheckout-shipping-region_id option").length;
                if(country_options === 0){
                    $("#shipping-block-field-region").show();
                    $("#shipping-block-field-region_id").hide();
                }else{
                    $("#shipping-block-field-region").hide();
                    $("#shipping-block-field-region_id").show();
                }
            });
        })();
        function redirectBlock(block){
            require(['jquery','jquery/ui'], function($){
                $('html, body').animate({
                    scrollTop: parseInt($("#"+ block +"-block").offset().top) -200
                }, 1000);
            });
        }
        window.place_order_click = false;
        require(['jquery'], function($){
            $("#place-order").on("click",function(){
                jQuery(".mage-error").hide();
                if(!window.place_order_click){
                    var errors = [];
                    removeErrorNotice();
                    if(validateLogin()){
                        errors.push("1");
                    }
                    if(validateShippingMethod()){
                        errors.push("1");
                    }
                    if(validatePaymentMethod()){
                        errors.push("1");
                    }
                    if(validateBillingAddress()){
                        errors.push("1");
                    }
                    if(validateShippingAddress()){
                        errors.push("1");
                    }
                    if(!jQuery("#terms_and_condition_field").is(":checked")){
                        jQuery(".mage-error").show();
//                        errors.push("1");
                    }else{
                        jQuery(".mage-error").hide();
                    }
                    
                    $("#confirm-block .place-order-spinner").show();
                    window.place_order_click = true;
                    if(!errors.length){
                        $("#supercheckout-main-form").submit();
                        setTimeout(function(){
                             window.place_order_click = false;
                             $("#confirm-block .place-order-spinner").hide();
                        },6000);
                    }else{
                        window.place_order_click = false;
                        $("#confirm-block .place-order-spinner").hide();
                    }
                    
                }else{
                    notificationSC("danger", "<?php echo __("Please wait..."); ?>");
                }
            });
            function removeErrorNotice(){
                 $("#supercheckout-front-main input").each(function(){
                    $(this).removeClass("sc-error");
                });
                $("#supercheckout-front-main select").each(function(){
                    $(this).removeClass("sc-error");
                });
            }
            function validateBillingAddress(){
                    var billing_fields = <?php echo json_encode($this->getBillingAddressFields())?json_encode($this->getBillingAddressFields()):"[]"; ?>;
                    var loggedIn = "<?php echo $this->isLoggedIn()?"1":"0"; ?>";
                    var new_address = $("[name='billing[address_id]']").val();
                    var error = false;
                    for(var i = 0; i < billing_fields.length ; i++){
                        if(billing_fields[i].required_guest == "1" && loggedIn === "0"){
                            var ele = $("[name='billing[" + billing_fields[i].name +"]']");
                            var val = ele.val();
                            var visibility = ele.is(":visible");
                            if((val === "" || typeof val === "undefined") && visibility === true){
                                error = true;
                                ele.addClass("sc-error");
                            }
                        }
                        if(new_address === "new"){
                            if(billing_fields[i].required_login == "1" && loggedIn === "1"){
                                var ele = $("[name='billing[" + billing_fields[i].name +"]']");
                                var val = ele.val();
                                var visibility = ele.is(":visible");
                                if((val === "" || typeof val === "undefined") && visibility === true){
                                    error = true;
                                    ele.addClass("sc-error");
                                }
                            }
                        }
                    }
                    if(error === true){
                        redirectBlock("payment-address");
                        notificationSC("danger", "<?php echo __("Please check the billing address information."); ?>");
                        return true;
                    }
                    return false;
            }
            function validateShippingAddress(){
                    var shipping_fields = <?php echo json_encode($this->getShippingAddressFields())?json_encode($this->getShippingAddressFields()):"[]"; ?>;
                    var loggedIn = "<?php echo $this->isLoggedIn()?"1":"0"; ?>";
                    var new_address = $("[name='shipping[address_id]']").val();
                    var error = false;
                    if($("[name='billing[same_shipping]']").is(':checked') === false){
                        for(var i = 0; i < shipping_fields.length ; i++){
                            if(shipping_fields[i].required_guest == "1" && loggedIn === "0"){
                                var ele = $("[name='shipping[" + shipping_fields[i].name +"]']");
                                var val = ele.val();
                                var visibility = ele.is(":visible");
                                if((val === "" || typeof val === "undefined") && visibility === true){
                                    error = true;
                                    ele.addClass("sc-error");
                                }
                            }
                            if(new_address === "new"){
                                if(shipping_fields[i].required_login == "1" && loggedIn === "1"){
                                    var ele = $("[name='shipping[" + shipping_fields[i].name +"]']");
                                    var val = ele.val();
                                    var visibility = ele.is(":visible");
                                    if((val === "" || typeof val === "undefined") && visibility === true){
                                        error = true;
                                        ele.addClass("sc-error");
                                    }
                                }
                            }
                        }
                        if(error === true){
                            redirectBlock("shipping-address");
                            notificationSC("danger", "<?php echo __("Please check the shipping address information."); ?>");
                            return true;
                        }
                    }
                    return false;
            }
            function validateShippingMethod(){
                var error = false;
                var showShippingMethods = "<?php echo (isset($this->sc_settings["supercheckout"]["enable_shipping_methods"]) && $this->sc_settings["supercheckout"]["enable_shipping_methods"])?"1":"0"; ?>";
                if(showShippingMethods === "1"){
                    var val = $("[name^=shipping_method]:checked").val();
                    if(val === "" || typeof val === "undefined"){
                        error = true;
                    }
                    if(error === true){
                        redirectBlock("shipping-method");
                        notificationSC("danger", "<?php echo __("Please select a shipping method."); ?>");
                        return true;
                    }
                }
                return false;
            }
            function validatePaymentMethod(){
                var error = false;
                var showPaymentMethods = "<?php echo (isset($this->_settings["supercheckout"]["enable_payment_methods"]) && $this->sc_settings["supercheckout"]["enable_payment_methods"])?"1":"0"; ?>";
                if(showPaymentMethods === "1"){
                    var val = $("[name='payment[method]']:checked").val();
                    if(val === "" || typeof val === "undefined"){
                        error = true;
                    }
                    if(error === true){
                        redirectBlock("payment-method");
                        notificationSC("danger", "<?php echo __("Please select a payment method."); ?>");
                        return true;
                    }
                }
                return false;
            }
            function validateLogin(){
                var loggedIn = "<?php echo $this->isLoggedIn()?"1":"0"; ?>";
                var showloginbuttons = "<?php echo $this->showLoginRadios()?"1":"0"; ?>";
                var dob = "<?php echo $this->showDob() && $this->isDobRequired()?"1":"0"; ?>";
                var taxvat = "<?php echo $this->showTaxvat() && $this->isTaxvatRequired()?"1":"0"; ?>";
                var gender = "<?php echo $this->showGender() && $this->isGenderRequired()?"1":"0"; ?>";
                var error = false;
                if(showloginbuttons === "1"){
                    var value = $("input[name='login[process]']:checked").val();
                    if(value == "login"){
                        var ele = $("[name='login[username]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }
                        var ele = $("[name='login[password]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }
                    }
                    if(value == "guest"){
                        var ele = $("[name='login[username]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }
                    }
                    if(value == "register"){
                        var ele = $("[name='login[username]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }                        
                        var ele = $("[name='register[password]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }
                        if(dob === "1"){
                            var ele = $("[name='register[dob]']");
                            var val = ele.val();
                            if(val === "" || typeof val === "undefined"){
                                error = true;
                                ele.addClass("sc-error");
                            }
                        }
                        if(taxvat === "1"){
                            var ele = $("[name='register[taxvat]']");
                            var val = ele.val();
                            if(val === "" || typeof val === "undefined"){
                                error = true;
                                ele.addClass("sc-error");
                            }
                        }
                        if(taxvat === "1"){
                            var ele = $("[name='register[gender]']");
                            var val = ele.val();
                            if(val === "" || typeof val === "undefined"){
                                error = true;
                                ele.addClass("sc-error");
                            }
                        }
                        var ele = $("[name='register[confirm_password]']");
                        var val = ele.val();
                        if(val === "" || typeof val === "undefined"){
                            error = true;
                            ele.addClass("sc-error");
                        }
                    }
                    if(error){
                        redirectBlock("login");
                        notificationSC("danger", "<?php echo __("Please check login options."); ?>");
                        return true;
                    }
                    
                    return false;
                }else{
                    if(loggedIn === "0"){
                        redirectBlock("login");
                        notificationSC("danger", "<?php echo __("Please log into store to proceed."); ?>");
                        return true;
                    }
                    return false;
                }
            }
            $("input[name='login[process]']").click(function(){
                if($("input[name='login[process]']:checked").val() == "login"){
                    $("#payment-address-block").hide();
                    $("#shipping-address-block").hide();
                }else{
                    $("#payment-address-block").show();
                    if(!$("input[name='billing[same_shipping]']").is(":checked")){
                        $("#shipping-address-block").show();
                    }
                }
            });
            (function(){
                var loggedIn = "<?php echo $this->isLoggedIn()?"1":"0"; ?>";
                var showloginbuttons = "<?php echo $this->showLoginRadios()?"1":"0"; ?>";
                
                if($("input[name='login[process]']:checked").val() == "login"){
                    $("#payment-address-block").hide();
                    $("#shipping-address-block").hide();
                }else{
                    $("#payment-address-block").show();
                    if(!$("input[name='billing[same_shipping]']").is(":checked")){
                        $("#shipping-address-block").show();
                    }
                }
                if(loggedIn === "0" && showloginbuttons ==="0"){
                    $("#payment-address-block").hide();
                    $("#shipping-address-block").hide();
                }
            })();
            
            $('#cart-block').on("click", '.btn-number', function(e){
                e.preventDefault();console.log('ss');
                fieldName = $(this).attr('data-field');
                type      = $(this).attr('data-type');
                var input = $("input[name='"+fieldName+"']");
                var currentVal = parseInt(input.val());
                if (!isNaN(currentVal)) {
                    if(type == 'minus') {

                        if(currentVal > input.attr('min')) {
                            input.val(currentVal - 1).change();
                        } 
                        if(parseInt(input.val()) == input.attr('min')) {
                            $(this).attr('disabled', true);
                        }

                    } else if(type == 'plus') {

                        if(currentVal < input.attr('max')) {
                            input.val(currentVal + 1).change();
                        }
                        if(parseInt(input.val()) == input.attr('max')) {
                            $(this).attr('disabled', true);
                        }

                    }
                } else {
                    input.val(0);
                }
            });
            $('.input-number').focusin(function(){
               $(this).data('oldValue', $(this).val());
            });
            $('.input-number').change(function() {

                minValue =  parseInt($(this).attr('min'));
                maxValue =  parseInt($(this).attr('max'));
                valueCurrent = parseInt($(this).val());

                name = $(this).attr('name');
                if(valueCurrent >= minValue) {
                    $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
                } else {
                    alert('Sorry, the minimum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                if(valueCurrent <= maxValue) {
                    $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
                } else {
                    alert('Sorry, the maximum value was reached');
                    $(this).val($(this).data('oldValue'));
                }


            });
            $(".input-number").keydown(function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                         // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) || 
                         // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                             // let it happen, don't do anything
                             return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
        });
</script>