<table id="cart-total-table">
<tr>
<td style="padding-top: 0px;height: 3px;line-height: 5px;" colspan="<?php echo count($this->getTotals()); ?>">&nbsp;</td>
<tr>
<?php
$cartTotal = array();
foreach($this->getTotals() as $totals){ ?>
    <tr>
        <td class="sc-total-price">
			<span class="supercheckout-price">
				<span style="display: inline-block; width: 150px; font-size: 15px;"><?php echo $totals->getData("title"); ?>:</span>
				<span class="price"><?php echo $this->getFormattedPrice($totals->getData("value")); ?></span>
			</span>
		</td>
    </tr>

<?php }
?>
</table>
