

    <form id="supercheckout_view" enctype="multipart/form-data" method="POST" action="">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
    </form>
<script type="text/javascript">
    require(['jquery', 'jquery/ui',"mage/backend/tabs"], function($){
        $("#save-supercheckout").click(function(){
            $("#supercheckout_view").submit();
        });
        var supercheckout_tab = "";
        supercheckout_tab = $.cookie("supercheckout-admin-tab");
        $.cookie("supercheckout-admin-tab","");
        var active_tab = "general";
        if(supercheckout_tab == "login-settings"){
            active_tab = "login";
        }
        if(supercheckout_tab == "general-settings"){
            active_tab = "general";
        }
        if(supercheckout_tab == "payment-address-settings"){
            active_tab = "payment_address";
        }
        if(supercheckout_tab == "shipping-address-settings"){
            active_tab = "shipping_address";
        }
        if(supercheckout_tab == "payment-method-settings"){
            active_tab = "payment_method";
        }
        if(supercheckout_tab == "shipping-method-settings"){
            active_tab = "shipping_method";
        }
        if(supercheckout_tab == "cart-settings"){
            active_tab = "cart_confirm";
        }
        if(supercheckout_tab == "design-settings"){
            active_tab = "design";
        }
        $('#supercheckout_view_tabs').tabs({
                active: 'supercheckout_view_tabs_supercheckout_'+ active_tab,
                destination: '#supercheckout_view',
                shadowTabs: [],
                tabsBlockPrefix: 'supercheckout_view_tabs_',
                tabIdArgument: 'active_tab'
        });
        $("#supercheckout_view .fieldset-wrapper").each(function(i,ele){
            $(ele).click(function(){
                $.cookie("supercheckout-admin-tab",$(this).prop("id"));
            });
        });
    });
    
</script>
