& when (@media-common = true) {
    .owl-carousel {
        line-height: 1.1;

        .owl-nav {
            button.owl-next,
            button.owl-prev {
                position: absolute;
                top: 48%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform:    translate(-50%, -50%);
                -ms-transform:     translate(-50%, -50%);
                -o-transform:      translate(-50%, -50%);
                transform:         translate(-50%, -50%);
                opacity: 0;
                width: 30px;
                height: 60px;
                box-shadow: none;
                border-radius: 0px;
                &:first-child {
                    left: 15px;
                }
                &:last-child {
                    right: -15px;
                }
                span {
                    font-size: 20px;
                }
            }
        }
        &:hover {
            .owl-nav {
                button.owl-next,
                button.owl-prev {
                    background-color: #00000026;
                    color: #fff;
                    opacity: 1;
                    &:hover {
                        background-color: #444;
                    }
                }
            }
        }

        .slider-text-center {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            max-width: 350px;
            left: 0;
            right: 0;
            margin: 0 auto;
            
        
        }
        .slider-text-left {
            top: 50%;
            transform: translateY(-50%);
            max-width: 350px;
            left: 5%;
            right: auto;
            position: absolute;
        }
        .slider-text-right {
            top: 50%;
            transform: translateY(-50%);
            right: 5%;
            position: absolute;
            max-width: 350px;
        
        }
        .slider-text-none {
            display: none;
        }
        .slider-text-top-center {
            top: 10%;
            left: 0;
            right: 0;
            position: absolute;
            max-width: 350px;
            margin: 0 auto;

        }
        .slider-text-bottom-center {
            bottom: 10%;
            left: 0;
            right: 0;
            position: absolute;
            max-width: 350px;
            margin: 0 auto;
        
        }
        .slider-text-top-left {
            top: 10%;
            position: absolute;
            left: 5%;
            max-width: 350px;
        }
        .slider-text-bottom-left {
            bottom: 15%;
            max-width: 300px;
            left: 5%;
            position: absolute;
        }
        .slider-text-top-right {
            position: absolute;
            top: 10%;
            right: 5%;
            max-width: 350px;
        
        }
        .slider-text-bottom-right {
            bottom: 10%;
            right: 5%;
            position: absolute;
            max-width: 350px;
        
        }
        .brandtitle {
            text-align: center;
            font-size: small;
        }
        .brandbutton {
            border:solid 2px;
            border-radius: 5px;
            background: rgba(255, 255, 255,0);
        }
        a:hover, 
        .alink {
            &:hover {
                text-decoration: none;
            }
        }
        button:not(.primary) {
            box-shadow: none;
        }
    }
}