<?php
/** @var \Tekglide\BannerSlider\Block\Widget\BannerSlider $block */
$banners = $block->getBanners();
?>
<?php if ($banners->getSize()): ?>
    <div class="owl-carousel home-slider">
        <?php foreach ($banners as $banner): ?>
            <div class="item">
                    <?php if ($banner->getUrl()): ?>
                        <a href="<?= /* @noEscape */$banner->getUrl(); ?>" title="<?= /* @noEscape */$banner->getName(); ?>">
                    <?php endif; ?>
                            <div class="image">
                                <img src="<?= /* @noEscape */ $banner->getImageUrl(); ?>" alt="<?= /* @noEscape */$banner->getName(); ?>" width="100%"/>
                                
                                    <div class="slider-text-<?= 
                                    /* @noEscape */$banner['textposition'];?>" style="color: 
                                    <?= /* @noEscape */ $banner->getTextColour(); ?>" >
                                         <?= /* @noEscape */ $banner->getText(); ?>                     
                                         <?php if ($banner['button_id'] == 1): ?>
                                <?php if ($banner->getButtonUrl() != null && $banner->getButtonName() != null): ?>
                                    <div class="button">
                                        <button onclick="window.location.href = '<?= 
                                        /* @noEscape */$banner->getButtonUrl(); ?>'"
                                        class="brandbutton" style="color: <?php 
                                        /* @noEscape */echo $banner->getButtonColour(); ?>" >
                                        <?= /* @noEscape */ $banner->getButtonName(); ?>
                                        </button>
                                    </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                                </div>
                            </div>                            
                    <?php if ($banner->getUrl()): ?>
                        </a>
                    <?php endif; ?>
             </div>
        <?php endforeach; ?>
    </div>
    <script type="text/javascript">
        require(['jquery', 'owlcarousel'], function($) {
            $('.home-slider').owlCarousel({
                center: false,
                startPosition: 0,
                margin: 0,
                responsive: {
                    0: {
                        items:1
                    },
                    768: {
                        items:1
                    }
                },
                nav: true,
                loop: true,
                dots: false,
                dotsSpeed: 1000,
                slideBy: 1,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                autoplaySpeed: 800,
                navSpeed: 1000,
                mouseDrag: true,
                responsiveRefreshRate: 100
            });
        });
    </script>
<?php endif; ?>
