@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?816zd2');
  src:  url('../fonts/icomoon.eot?816zd2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?816zd2') format('truetype'),
    url('../fonts/icomoon.woff?816zd2') format('woff'),
    url('../fonts/icomoon.svg?816zd2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu2:before {
  content: "\e9be";
}
#supercheckout_view #general-settings .admin__fieldset > .admin__field > .admin__field-label{
    width:calc( (100%) * 0.40 - 30px );
}
#supercheckout_view #login-settings .admin__fieldset > .admin__field > .admin__field-label{
    width:calc( (100%) * 0.30 - 30px );
}
#supercheckout_view #shipping-method-settings .admin__fieldset > .admin__field > .admin__field-label{
    width:calc( (100%) * 0.40 - 30px );
}
#supercheckout_view #payment-method-settings .admin__fieldset > .admin__field > .admin__field-label{
    width:calc( (100%) * 0.40 - 30px );
}
#supercheckout_view #payment-address-settings .supercheckout-hidden, #supercheckout_view #shipping-address-settings .supercheckout-hidden, #supercheckout_view #design-settings .supercheckout-hidden{
    display:none;
}
#supercheckout_view table.supercheckout-address-cart-table td, #supercheckout_view table.supercheckout-address-cart-table th{
    padding:3px 10px;
}
#supercheckout_view table.supercheckout-address-cart-table tr td.name{
    width: 250px;
}
#supercheckout_view table.supercheckout-address-cart-table tr td.guest{
    width: 250px;
    text-align: left;
}
#supercheckout_view table.supercheckout-address-cart-table tr td.login{
    width: 250px;
    text-align: left;
}
#supercheckout_view table.supercheckout-address-cart-table tr th.guest{
    width: 250px;
    text-align: left;
}
#supercheckout_view table.supercheckout-address-cart-table tr th.login{
    width: 250px;
    text-align: left;
}
#supercheckout_view table.supercheckout-address-cart-table tr th.name{
    width: 250px;
}
#supercheckout_view table.supercheckout-address-cart-table tr td.icon{
    width: 40px;
    font-size: 20px;
}
#supercheckout_view table.supercheckout-address-cart-table tr.odd{
    background-color:#fff;
}
#supercheckout_view table.supercheckout-address-cart-table tr.even{
    background-color:#e3e3e3;
}
#supercheckout_view table.supercheckout-address-cart-table .ui-sortable-placeholder {
  border: 3px dashed #aaa;
  height: 45px;
  width: 344px;
  background: #ccc;
}
#supercheckout_view table.supercheckout-address-cart-table .m-r-15{
    margin-right:15px;
}
#supercheckout_view table.supercheckout-address-cart-table .field-disabled{
    opacity:0.5;
}
#supercheckout_view table.supercheckout-address-cart-table .field-disabled .notice{
    font-size: 10px;
    color: red;
}
#supercheckout_view table.supercheckout-address-cart-table .hint{
    font-size: 10px;
}
#supercheckout_view #cart-settings table.supercheckout-address-cart-table td, #supercheckout_view #cart-settings table.supercheckout-address-cart-table th{
    padding:9px 10px;
}
#supercheckout_view #cart-settings table.supercheckout-address-cart-table input.supercheckout-text{
    width:60px;
    height: 30px;
}
#supercheckout_view #cart-settings table.supercheckout-address-cart-table input.supercheckout-x{
    font-weight: bold;
}
#supercheckout_view .supercheckout-h1{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 7px;
}
#supercheckout_view .admin__fieldset > .admin__field{
    margin-bottom: 2rem;
}
#supercheckout_view table.supercheckout-address-cart-table{
    margin-bottom:25px;
}

#supercheckout_view .ui-slider .ui-slider-handle{
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    border-radius:5px;
    border:1px solid #cccccc;
    background-color: #f4f4f4;
    top: -.3em;
}
#supercheckout_view  .ui-widget-header {
    border-color: #496CAD;
    background: #496CAD;
    color: #fff;
}
#supercheckout_view .ui-slider-horizontal{
    border: 1px solid #dddddd;
    background: #eeeeee;
    color: #333333;
}
#supercheckout_view .portlet {
    margin: 10px 10px;
    border: 1px solid #B5B5B5;
    clear: both;
    display: block;
    height: 80px;
    cursor: move;
    overflow: hidden;
}
#supercheckout_view .portlet-header {
    border-bottom: 1px solid #b5b5b5;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #7C7C7C;
    min-width: 160px;
    margin: 5px 10px;
    padding-bottom: 5px;
}
#supercheckout_view .supercheckout-column{
    float:left;
    min-height: 100px;
}
#supercheckout_view .supercheckout-column-2{
    float:left;
    min-height: 100px;
}
#supercheckout_view .supercheckout-clear{
    clear:both;
}
#supercheckout_view .supercheckout-left{
    float:left;
}
#supercheckout_view .supercheckout-h1 label{
    font-size: 15px;
}
#supercheckout_view .supercheckout-right{
    float:right;
}
#supercheckout_view .columns input {
    background: none;
    box-shadow: none;
    padding: 0px;
    height: 16px;
    text-align: center;
    border: none;
}
#supercheckout_view .portlet-content .text{
    font-size: 12px;
    padding: 7px;
    text-align: center;
}
.modal-popup.knowband-supercheckout-modal .modal-inner-wrap{
    width: 60%;
}
.simplemodal-data textarea{
    width:100%;
    height:140px;
}
#supercheckout_view .design-separator {
    background-color: #FBFBFB;
    border: 1px solid #F1F1F1;
    clear: both;
    height: 6px;
    margin: 10px 1px;
    width: 98%;
}