    <?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?= __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php  else :?>
            <p><?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif;?>
            <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>


    <!--  custom code  -->
    <?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $order_details = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());
    $orderId = $block->getOrderId(); //Order Id
    $total = $order_details->getSubtotal(); //subtotal without tax and shipping

    $orderItems = [];


    foreach ($order_details->getAllItems() as $item) {

        // product category, type
        $product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId());
        $categoryIds = $product->getCategoryIds();

        //check if exists category
        $product_category_name = '';
        if ( count($categoryIds) > 1 ) {
            foreach($categoryIds as $category) {
                $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                $product_category_name = $product_category_name . $cat->getName() . ' / ';
            }
        } elseif ( count($categoryIds) == 1 ) {
            foreach($categoryIds as $category) {
                $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                $product_category_name = $cat->getName();
            }
        }

        $product_type_name = $product->getTypeID();


        $orderItems[] = [
            'name' => $item->getData('name'),
            'id'   => $item->getData('sku'),
            'price'     => number_format($item->getData('price_incl_tax'), 2, '.', ''),
            'category'   => $product_category_name,
            'type'   => $product_type_name,
            'quantity'  => intval($item->getData('qty_ordered')),

        ];
    }

    $coupon = !empty($order_details->getCouponCode())?"'coupon': '".$order_details->getCouponCode()."',":'';
    ?>

    <script>
        dataLayer.push({ ecommerce: null });
        dataLayer.push({
            // start upd
            'ecommerce': {
                'currencyCode': '<?= $order_details->getBaseCurrencyCode(); ?>',
                'purchase': {
                    'actionField': {
                        'id': '<?= $order_details->getIncrementId(); ?>',
                        'revenue': '<?= number_format($order_details->getGrandTotal(), 2, '.', ''); ?>',
                        'tax': '<?= number_format($order_details->getBaseTaxAmount(), 2, '.', ''); ?>',
                        'shipping': '<?= number_format($order_details->getBaseShippingInclTax(), 2, '.', ''); ?>',
                        'coupon': '<?= $coupon; ?>',
                    },
                    'products': <?= json_encode($orderItems) ?>,
                },
            },

            'event': 'purchase',
            // end upd

        });

    </script>