<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$_imageHover = 'hover_product_list';
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <li class="item product product-item">
                <div class="product-item-info" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea, ['class' => 'photo-main']);
                    $productImageHover = $_imageHelper->init($_product, $_imageHover);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <!--?= $productImage->toHtml() ?-->
                        <span class="product-image-container" style="width:<?= /* @escapeNotVerified */ $productImage->getWidth() ?>px;">
                        <span class="product-image-wrapper"
                          style="padding-bottom: <?= /* @escapeNotVerified */ ($productImage->getRatio() * 100) ?>%;">
                        <img class="<?= /* @escapeNotVerified */ $productImage->getClass() ?>"
                            <?= /* @escapeNotVerified */ $productImage->getCustomAttributes() ?>
                            src="<?= /* @escapeNotVerified */ $productImage->getImageUrl() ?>"
                            max-width="<?= /* @escapeNotVerified */ $productImage->getWidth() ?>"
                            max-height="<?= /* @escapeNotVerified */ $productImage->getHeight() ?>"
                            alt="<?= /* @escapeNotVerified */ $productImage->stripTags($productImage->getLabel(), null, true) ?>"/>
                        <img src="<?php echo $productImageHover->getUrl(); ?>"
                         class="photo-image-hover" width="<?php echo $productImage->getWidth(); ?>"
                         height="<?php echo $productImage->getWidth() ?>"
                         alt="<?php echo $productImageHover->getLabel() ?>"/></span>
                        </span>
                    </a>
                     
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        <?php if (!$_product->isAvailable()) :?>
                                            <span class="outofstock"><?= $block->escapeHtml(__('Out of stock')) ?></span>
                                        <?php endif; ?>
                        <?= $block->getProductDetailsHtml($_product) ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>

                        <span class="gender-category-link">
                            <?php $attribute = $_product->getResource()->getAttribute('gender');?>
                            <?= $attributeValue = $attribute->getFrontend()->getValue($_product);?>
                        </span>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>