body {
    color:#000;
    font-family: 'Poppins', sans-serif;
    letter-spacing:1px;
    font-size:1.2rem;
}
dt{
  font-weight:600;
}
b, strong {
    font-weight: 400;
  }
a, .alink {
    color: #000000;
    text-decoration: none;
}
.message.global.noscript a, .message.global.cookie a {
    color: #d18d1e !important;
}
a:visited, .alink:visited {
    color:  #000;
    text-decoration: none;
}
h3 {
  font-weight:400;
}
a:hover, .alink:hover {
    color: #000000;
    text-decoration: underline;
}
.grecaptcha-badge { 
    visibility: hidden;
}
.block.newsletter .title {
    display: block;
}
.block.newsletter .title strong{
color: #d18d1e;
letter-spacing: 3px;
font-weight:400;
font-size:1.6rem;
}
.header.content {
    padding: 0px 20px 0 !important;
}
.page-footer {
    background: #ffffff;
    padding-bottom: 50px !important;
    padding-top: 50px !important;
    margin-top: 100px !important;
}
.abs-product-link > a:hover, .product-item-name > a:hover, .product.name a > a:hover {
    color: #333333;
    text-decoration: none;
}
.product.info.detailed .additional-attributes > thead > tr > td, .product.info.detailed .additional-attributes > tbody > tr > td, .product.info.detailed .additional-attributes > tfoot > tr > td {
    padding: 5.5px 5px 10px 0px;
}
.product-info-left .breadcrumbs{
  margin:0;
  padding-left:0;
}
.tmp3-img-content{
float: left;
width: 35%;
}
.tmp3-form{
position: relative;
margin-top: 0 !important;
float: left;
width: 100%;}
.tmp3-title{
  color:#000000 !important;
  font-size: 24px !important;
margin-top: 30px !important;
margin-bottom: 0;
}
.tmp3-sub-title {
    color: #000000;
    font-size: 24px !important;
    font-weight: 400 !important;
    margin-top: 0 !important;
}
.tmp3-text-content{
  width:60% !important;
  text-align: left;
padding-left: 3%;
}
.tmp3-text{
margin: 40px 0 40px !important;
}
.tmp3_field_newsletter {
    width: 75%;
    margin: 0 !important;
}
#bio_ep {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow: hidden;
}
#mp-coupon-code{
  color:#000000 !important;
}
.tmp3-input {
  border-radius:0px !important;
}
button.btn-copy.primary{
  background-color:#000000 !important;
}
.breadcrumbs a:visited {
    color: #000;
    text-decoration: none;
}
.catalog-product-view{
  padding-left:0;
  }
.product.collezione{
  font-size:2.6rem;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 24px !important;
    line-height: 24px !important;
}
.page-layout-1column .column.main {
  
    margin-top: 45px;
}
.navigation .level0 > .level-top {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.white-header .navigation .level0 > .level-top {
    color: #000;
}
.product-item-photo-hovered {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.photo-image-hover {
opacity: 0;
}
.photo-currently-hovered {
opacity: 1 !important;
}
.photo-currently-not-hovered {
opacity: 0 !important;
}
.minicart-wrapper a span.text{  
width: auto;
color:#fff;
display: block;
float: left;
height: auto;
clip: unset;
position: static;
font-weight: bold;
font-size:21px;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
display: block;
float: left;
background: none;
margin: 0;
float: right;
background:none;
line-height: 100%;
font-size:21px;
font-weight: 600;
}
.minicart-wrapper {
margin-left: 0;
}
.minicart-wrapper .action.showcart::before {
  display:none;
}
.page-products .product-item-photo img.photo-main {
  position:absolute;
  left:0;
  top:0;
  height: auto;
  opacity:1;
}
.page-products .product-item-photo img.photo-image-hover {
  position:absolute;
  left:0;
  top:0;
  height: auto;
  opacity:0;
}
.page-products .product-item-photo:hover img.photo-main{
opacity:0;
}
.page-products .product-item-photo:hover img.photo-image-hover{
opacity:1;
}
.minicart-wrapper .counter-label{
font-size:20px;
float: left;
color:#fff;
display: block;
font-weight:600;
clip: unset !important;
width: auto !important;
height: auto !important;
position: static !important;
margin: 0 !important;}
.minicart-wrapper .action.showcart {
margin-top: 37px;
}
.white-header .minicart-wrapper .counter-label, .white-header .minicart-wrapper a span.text, .white-header .minicart-wrapper .action.showcart .counter.qty{
color:#000;
background:none;
}
ul.header.links{
display:none;
}
#switcher-language{display: none}
#ui-id-2{
 -webkit-column-count: 3; /* Chrome, Safari, Opera */
-moz-column-count: 3; /* Firefox */
column-count: 3;

}
.nav-toggle, .nav-sections{
  display:none;
}
#switcher-language-nav{
  margin-top:20px;
}
#switcher-language-nav span{
font-size: 1.4rem;
letter-spacing: 1px;
color:#000000;
}
.product-items .owl-carousel .owl-nav button.owl-prev, .product-items .owl-carousel .owl-nav button.owl-next, .product-items .owl-carousel button.owl-dot {
    color:#999999 !important;
    font-size: 64px !important;
    margin: 5px 10px;
}
.product-items .owl-carousel .owl-nav button.owl-prev:hover, .product-items .owl-carousel .owl-nav button.owl-next:hover, .product-items .owl-carousel button.owl-dot:hover {

color:#000000 !important;
}
.page-footer .switcher .options ul.dropdown {
    bottom: 0px;
    left: 0;
    margin: 0 0 0 0px;
    top: auto;
}
.page-header .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 8px;
}
.page-header .switcher .options ul.dropdown li:hover, .page-footer .switcher .options ul.dropdown li:hover {
    background: #ffffff;
    cursor: pointer;
}
.page-footer .switcher .options ul.dropdown {
    bottom: unset;
    left: 0px !important;
    margin: 0px !important;
    top: 20px !important;
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown {
 
    border: 0px solid #bbb;
    margin-top: 4px;
    min-width: 160px;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: auto;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}
.page-header .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a {
    padding: 8px 0;
}
.page-footer .switcher .options ul.dropdown::before, .page-footer .switcher .options ul.dropdown::after {
    display: none;
}
.align_left{
text-align:left;
}
.align_right{
text-align:right;
}
.center-text-homepage{
text-align:center;
width:100%;
padding:45px 0;
font-size: 18px;
margin-bottom: 20px;
}
.center-text-homepage{
font-size: 18px;
}
.center-text-homepage a{
margin-top: 30px;
display: block;
font-size: 16px;
}
button, .filter-title strong {
    background-image: none;
    background: #000000;
    border: 0px solid #000000;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}
button:not(.primary) {
    box-shadow: inset 0 0px 0 0 #ffffff, inset 0 0px 0 0 rgba(204, 204, 204, 0.3);
}
button:hover {
    background: #000000;
    border: 0px solid #cccccc;
    color: #ffffff;
}
button, a.action.primary {

    border-radius: 0px;

}
.first-group p{
  font-size:15px;
}
.first-group .full-container a{
  width: 150px;
margin: 35px auto;
display: block;
}
span.button{
padding:10px 45px;
background-color: #d18d1e;
color:#ffffff;
font-weight:400;
font-size: 1.4rem;
margin-top: 30px;
}
span.homepage-button{
padding:10px 45px;
background-color: #ffffff;
color:#9B9B9B;
font-weight:400;
font-size: 1.4rem;
margin-top: 30px;
border:2px solid #9B9B9B;
}
.image-caption h3{
  display:block;
  float:left;
  width: 100%;
  text-align: center;margin-bottom:30px;
}

span.button:hover{
text-decoration:none;
background-color:#000000;
}
span.homepage-button:hover{
text-decoration:none;
background-color:#000000;
border:2px solid #000000;
}
.page-header{
background:none;
height: 100px;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 100;
border-bottom:1px solid #000 !important;
}
.white-header{
background:#ffffff;
}
.white-background{
  background:#ffffff;
}
.page-header .panel.wrapper {
border-bottom: 0px solid #fff;
background-color:none;
}
.page-header .panel.wrapper{
background-color:transparent;
border-bottom:0px solid black;
}
.page-header .widget.block{
display:none;
}
.topnav{
  display:none;
}
.header-scrolled{
    background: none;
    
}
.disabled a{display:none;}
.full-container-flex{
width: 100%;
display: flex;
position: relative;
margin:120px 0 0;
}
.full-container{
width: 100%;
float:left;

}
.cms-home .full-container{
  margin:0;
}
.half-container {
width: 50%;
}
.div-right{
  float: right;
}
.half-block-flex-text{
flex: 1;
width: 50%;
display: flex;
align-items: center;
border:0px;

}
.half-block-flex-double{
flex: 1;
width: 50%;
display: flex;
align-items: left;
border: 0px;
flex-direction: row;
}
.first-image-block{
  float:left;
  width:50%;padding-right:5%;height:auto;
}
.second-image-block{
  float:right;
  width:50%;
  height:auto;
}
.text-homepage-right img{
  text-align:right;
  width:70%;
  max-width: 160px;
  margin-bottom:30px;
}
.text-homepage-left img.slogan {
  width: 100px;
  margin-bottom:30px;
}
.text-homepage-left img.text-logo {
  width: 110px;
   margin-bottom:20px;
}
.cms-home .maincontent{
  margin-top:100px;
}
.cms-home #banner-slider-carousel {
    margin-top: 100px;
}
.half-block-flex{
flex: 1;
width: 50%;
display: flex;
align-items: left;
border:0px;
flex-direction: column;
}
.first-group .half-block-flex{
  padding:0 25px;
}
.one-third-block-flex-text {
flex-basis:33%;
display: flex;
align-items: center;
border:0px;
}
.two-third-block-flex{
flex-basis: 66%;
display: flex;
align-items: left;
border:0px;
flex-direction: column;
}
.full-block-flex{
flex: 1;
width: 100%;
display: flex;
align-items: left;
border:0px;
flex-direction: column;
}
.half-block{
  width:50%;
  float:left;
}
.cms-home .half-block{
  width:unset;
  margin-right:45px;
}
.cms-home .half-block:last-of-type {
    margin-right: 0 !important;
}
.half-block h2{
 font-weight: 800;
}
.half-block-flex img{
  width:100%;
  height:auto;
  max-width:800px;
}
.half-block span.link-categories{
display: block;
position: absolute;
bottom: 21px;
}
.link-categories a {
    font-size: 15px;
    letter-spacing: 3px;
    margin: 0 8px;
}
.half-block-flex-text .text-homepage-left, .half-block-flex-text .text-homepage-right, .one-third-block-flex-text .text-homepage-left{
padding: 0 20%;
}
.half-block-flex-text .text-homepage-left p, .half-block-flex-text .text-homepage-right p, .one-third-block-flex-text .text-homepage-left p{
text-align: justify;
}
.text-homepage-right{
text-align:right;
}
.image-block-absolute-1{
position: absolute;
top: 50%;
left: 50%;
margin-top: -24px;
margin-left: -100px;
width:200px;
}
.image-block-absolute-2{
position: absolute;
top: 50%;
left: 50%;
margin-top: -72px;
margin-left: -80px;
width:160px;
}
.horizontal-menu, #login-link{
  float:right;
}
#login-link{
width: 150px;
text-align: left;
margin: 44px 25px 0 0;
}
#login-link a{
font-size:1.4rem;
position: relative;
}
#login-link a:hover::before {
z-index: -1;
height: 4px;
background: #d18d1e;
top: 47%;
}
.horizontal-menu ul{
width:460px;
margin-top:24px;
}
.horizontal-menu ul li{
width: 150px;
display: inline-block;
margin-bottom:0;
text-align:left;
}
.horizontal-menu .second-line{
  clear: left;
}
.minicart-wrapper .block-minicart {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    list-style: none none;
    background: #ffffff;
    border: 0px solid #bbb;
    margin-top: 0px;  
    z-index: 100001;
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: none;
    bottom:0;
    overflow-y:auto;
    width: 50%;
    min-width: 50%
}
#minicart-content-wrapper{
  margin-top:100px;
  padding:45px 90px;
}
.minicart-wrapper .action.close {
  position:relative;
}
.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 24px;
    font-weight: 400;
}
.block-minicart .price-container{
margin-top: 20px;

float: right;

width: 100%;

text-align: left;
}
h1 {
    font-size: 2.8rem;
}
a:before, .alink:before{

}
a:hover, .alink:hover {
    color: #000000;
    text-decoration: none;
}
.horizontal-menu ul li a, #login-link ul li a, span.link-categories a, .footer.content .links a{
  position: relative;
font-size:1.4rem;}
.footer.content .links li {
    font-size: 1.4rem;
}
.horizontal-menu ul li a:hover, #login-link a:hover, span.link-categories a:hover/* ,.footer.content .links a:hover*/{
text-decoration:none;
}
.horizontal-menu ul li a:before, #login-link a:before, span.link-categories a:before/*, .footer.content .links a:before */{
content: "";
position: absolute;
width: 100%; 
-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1s; /* Firefox < 16 */
-ms-animation: fadein 1s; /* Internet Explorer */
-o-animation: fadein 1s; /* Opera < 12.1 */
animation: fadein 1s;
/*animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;*/
}
.horizontal-menu ul li a:hover:before, span.link-categories a:hover:before /*, .footer.content .links a:hover:before*/{
 z-index:-1;
 height: 4px;
 background: #d18d1e;
 top: 47%;
}
.#login-link a:hover::before {
    z-index: -1;
    height: 4px;
    background: #d18d1e;
    top: 47%;
}
.attributes-content{
    background: none;
    margin-top: 0px;
    padding: 15px 0 0;
    border: 0px solid #ccc;
    box-sizing: border-box;
    float: left;
    margin-left: 0;
    width: 100%;
}

/*.product.info.detailed .additional-attributes > tbody > tr > td{
  display:none;
}
.product.info.detailed .additional-attributes > tbody > tr.opened > td{
  display:block;
}*/
.actions.borders{
  margin-bottom: 15px;

border-top: 1px solid #000;

border-bottom: 1px solid #000;

padding-top: 15px;
}
.swatch-attribute-label::after {
    content: ">";
    margin-left: 8px;
    font-size: 13px;
    line-height: 2px;
    text-decoration: none !important;
}
/*.page-products .products-grid .product-item {
    margin-left: 2%;
    padding: 5px;
    width: calc((100% - 6%)/3) !important;
}*/
.page-products .product-item-info {
    width: 100% !important;

}
.page-products .product-image-container{
  width:100% !important;
}
.page-layout-full-stories-layout .breadcrumbs{
  display:none !important;

}
.page-layout-full-stories-layout .page-wrapper {
    padding-top: 100px;
}
.page-layout-full-stories-layout .page-main {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.page-layout-full-stories-layout .image-content{
  position: absolute;
bottom: 20%;
right: 10%;
width:30%;
}
.product-image-photo {
  width:100%;
}
.subtotal-container{
  float:left;
  width: 50%;
  padding:0px;
}
.block-minicart .items-total{
  float:left;
  width: 50%;
  margin:0;
}
.block-minicart .block-content > .actions {
    margin-top: 15px;
    float: left;
    width: 100%;
}
.minicart-wrapper .action.close {
    height: unset;
    position: static;
    margin-left: 0;
    top: unset;
    width: auto;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
}
.minicart-wrapper .action.close > span {
    border: 0;
    clip: unset;
    height: unset;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: static;
    width: unset;
    color: #000;
    text-transform: uppercase;
}
.minicart-wrapper .action.close::before{
  display:none;
}
.minicart-items-wrapper {

    border: 0px solid #ccc;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 0px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 0px;
    margin: 0;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    padding: 0;
    width: 100%;
    height: auto !important;
}
.block-minicart .block-content > .actions > .primary {
    margin: 0 0px 15px;
    width: 50%;
    float: left;
}
.block-minicart .subtotal {
    margin: 0 0px 10px;
    text-align: left;
    text-transform: uppercase;
}
.minicart-items .product-item-details {
    padding-left: 0px;
}
.minicart-items .product-item-name a {
    color: #000000;
}
.product-item-pricing .price-container{float:left;
}
.minicart-items .product-item-details .details-qty {
margin-top: 10px;
float:right;
margin-bottom:5px;
}
.minicart-items .product-item-pricing .label {
    display: none;
}
.cart-summary {
    background: #ffffff;

}
.minicart-items .action.delete::before {
    display: none;
}
.minicart-items .action.edit > span, .minicart-items .action.delete > span {
    border: 0;
    clip: unset;
    height: unset;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: static;
    width: auto;
}
.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container {
    float: none;
}
.product-item-pricing{
  float:left;
}
.minicart-items .secondary .action.delete{
  display:block;
  text-align:center;
}
.minicart-items .action.edit > span, .minicart-items .action.delete > span {
    border: 0;
    clip: unset;
    height: unset;
    margin: 0;
        margin-right: 0px;
    overflow: unset;
    padding: 0;
    position: static;
    width: auto;
    font-size: 10px;
    text-transform: uppercase;
    
    text-decoration: underline;
}
.minicart-wrapper .product .actions {
    float: right;
    margin: 0;
}
.product-item .product-image-container {
  display: block;

max-width: 100%;

float: none;

margin: 0 auto;

width: auto !important;
}
.minicart-items .item-qty {
    margin-right: 0px;
    text-align: center;
    width: 45px;
}
.minicart-items .product-image-wrapper {
    width: 100% !important;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.product.info.detailed .additional-attributes > thead > tr > th, .product.info.detailed .additional-attributes > tbody > tr > th, .product.info.detailed .additional-attributes > tfoot > tr > th {
padding: 0px 30px 0px 0;
}
.product-info-main .product-info-price{
color: #000000;
border-bottom: 0px solid #c1c1c1;
display: block;
margin-bottom: 15px;
width: 100%;
}
.product-info-main .product-info-price .price-box{
  display: block;
  width: 100%;
}
.product-info-main .product-info-stock-sku{
  display: block;
  text-align: left;
  width: 100%;
  padding-left:0;
}
.product-options-bottom .price-box .price-container .price-label{
  display:none;
}
.product-options-bottom .price-box, .product-info-price .price-box {
    color: #000000;
}
.product-options-bottom .price-box .old-price, .product-info-price .price-box .old-price{
  display: block;
float: left;
color: #999;
text-decoration: line-through;
margin-left: 10px;
}
.product-options-bottom .price-box .normal-price{
  float:left;
}
.product-item .old-price {
    margin: 0px 0px !important;
    display: block;
}
.product-item .old-price span.price{
  font-size: 1.3rem;
text-decoration: line-through;
color: #999;
}
.product-options-bottom .price-box .old-price .price-container > span.price-label{
  display:none;
}
.product-info-main .product-info-price .price-box .price-container > span {
    display: block
}
.product-info-main .product.attribute.sku .type::after , .product-info-main .product.attribute.sku .type{
    display:none;
}
.product-info-main .product.attribute.sku .value {
    display: block;
    color: gray;
    float:left;
    width: 100%;
}
.product-info-main .product.attribute.overview {
    
    display: none;
}
.product-info-main .stock.available {
   display:none;
}
#category-wrapper{
width: 50%;
position: fixed;
top: 0;
right: -3000px;
height: 100%;
display: flex;
align-items: center;
justify-content: left;
font-size:32px;
background:#ffffff;
z-index:1000;
-webkit-transtition:  right 1s ease-in-out;
transition:  right 1s ease-in-out;
bottom:0;
overflow-y:scroll;
}
#overlay-menu-background{
width: 100%;
position: fixed;
top: 0;
left:0;
height: 100%;
display:none;
background:#000; 
opacity:0.3;
z-index:99;
transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-webkit-transition: opacity .5s ease-in-out;
}
.full-container-flex.products-row{
  justify-content: space-between;
width: 1200px;
margin: 100px auto 0 auto;
}
.products-row .product-item {
    font-size: 1.4rem;
    max-width: 340px;
}
#category-wrapper ul h2{
  margin-bottom:10px;
  text-transform: uppercase;
  font-size: 2.0rem;
}
#category-wrapper ul{
  list-style-type: none;
  margin-bottom:40px;
}
#category-wrapper ul li a{position: relative;}
#category-wrapper ul li a:before {
content: "";
position: absolute;
width: 100%; 
-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1s; /* Firefox < 16 */
-ms-animation: fadein 1s; /* Internet Explorer */
-o-animation: fadein 1s; /* Opera < 12.1 */
animation: fadein 1s;
text-align:center;
/*animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;*/
}
#category-wrapper ul li a:hover:before {
height: 8px;
background: #d18d1e;
top: 47%;
z-index:-1;
}
a.rfrman::after, a.rfrunisex::after, a.grailman::after, a.grailunisex::after, a.agrailwomen::after {
  content: '';
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  left: auto;
  position: absolute;
  top: 50%;
  margin-top:-150px;
  margin-left:45px;
  width: 300px;
  opacity:0;
}
a.rfrman:hover::after, a.rfrunisex:hover::after, a.grailman:hover::after, a.grailunisex:hover::after, a.agrailwomen:hover::after {
  opacity:1;
}
a.rfrman::after{
  background-image: url('https://rfrfabianoricci.it/pub/media/wysiwyg/home/burger_rfr_man.jpg');
}
a.rfrunisex::after{
  background-image: url('https://rfrfabianoricci.it/pub/media/wysiwyg/home/burger_rfr_unisex.jpg');
}
a.grailman::after{
  background-image: url('https://rfrfabianoricci.it/pub/media/wysiwyg/home/burger_grail_man.jpg');
}
a.grailunisex::after{
  background-image: url('https://rfrfabianoricci.it/pub/media/wysiwyg/home/burger_grail_woman.jpg');
}
a.grailwomen::after{
  background-image: url('https://rfrfabianoricci.it/pub/media/wysiwyg/home/burger_grail_woman_2.jpg');
}
 
#category-wrapper .close-cat-menu{
  position: absolute;
right: 60px;
top: 60px;
font-size: 16px;
text-transform: uppercase;
cursor: pointer;
}
#category-wrapper.opened{
  right:0;
  -webkit-transtition:  right 1s ease-in-out;
  transition:  right 1s ease-in-out;
}

/*SWATCHES*/ 
.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    color: #000;
    background:none;
} 
.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    background: #ffffff;
    color: grey;
}
.swatch-option.text {
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 7px;
    min-width: 30px;
    padding: 4px 6px;
}
.swatch-option.selected {
    outline: 0px solid #ff5501;
    border: 0px solid #ffffff;
    color: #333333;
}

.swatch-option:focus {
    box-shadow: 0 0 0px 0px #00699d;
}
.swatch-option.text:active, .swatch-option.text:hover, .swatch-option.text:selected{
  color:#000;
}
.swatch-option:not(.disabled):hover {
    border: 0px solid #ffffff !important;
    color: #000000;
    outline: 0px solid #999999 !important;
}
.swatch-option:hover::before , .swatch-option.selected::before, .swatch-option.selected::before, .swatch-option.selected::before {
    height: 4px;
    background: #d18d1e;
    top: 47%;
    z-index:1;
}
.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected{border:0px;}
.swatch-option {
    border: 0px solid #dadada;
}
.swatch-option.text::before {
    content: "";
    position: absolute;
    width: 100%;
    left:0;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .box-tocart .action.instant-purchase, .multicheckout .action.primary {
    line-height: 1.2rem;
    padding: 14px 12px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.box-tocart .action.tocart {
    margin-bottom: 0;
    margin-right: 1%;
    width: 250px;
}
.message.success a {
    color: #000000;
}
.message.success a:hover {
    color: #000000;
}
 .message.global.cookie{
background: #fff;

margin: 0;
     border-top:1px solid #000;
     border-right:0px solid #000;
     border-bottom:0px solid #000;
border-left: 0px;
     padding: 10px 20px;
     max-width:100%;
 }
 .message.global.cookie p{
font-size: 1.2rem;
     
 }
.sparsh_gdpr_cookie_notification h3 {
    font-weight: 600;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.action.primary{
  background-color:#000000;
  background:#000000;
  border: 0px solid #000000;
  border-radius: 0;
  color:#ffffff;
}
.action.primary:hover {
    background-color: #d18d1e;
    border: 0px solid #d18d1e;
    border-radius: 0 !important;
    background:#d18d1e;
}
.action.primary:focus, .action.primary:active {
    background: #000000;
    border: 0px solid #000000;
    color: #ffffff;
}
.opc-block-summary {
    background: #ffffff;
    margin: 0 0 20px;
    padding: 22px 30px;
}
.opc-block-summary .minicart-items-wrapper {
 
    max-height: unset;
   
}
.opc-progress-bar-item > span::before, .opc-progress-bar-item > span::after {
  display: none !important;
}
.catalog-product-view.page-layout-2columns-right .product.media{
width: 55%;
float:left;
/*float: none;
margin: 0 auto;*/
}
.images-mobile{
  display:none;
}
.images-desktop{
  display:block;
}
.minicart-wrapper .action.showcart .counter.qty {
  background:none;
}
.catalog-product-view.page-layout-2columns-right .product-info-main{
  width:22%;
  float:right;
  position:sticky;
  top:30%;
  right:2%;
}
.catalog-product-view.page-layout-2columns-right .column.main{
  width:100%;
}
.catalog-product-view .columns{
  position:relative;
}
.mobile-product-title{margin-top:45px;display:none;}
.product-info-main .page-title-wrapper h1, .mobile-product-title h1.page-title {
    margin-bottom: 15px;
    font-size: 2.6rem;
}
.product-info-left{
float: left;
width: 20%;

}
/*.absolute-info{
  position: absolute !important;
  bottom: 0;
  top: auto !important;
}*/
.product.info.detailed {
    clear: unset;
    margin-bottom: 30px;
    float: left;
   width: 100%;
   margin-top: 150px;
}
.product.info.detailed .additional-attributes {
    width: 100%;
    border: none;
    
}
.header.panel > .header.links, .compare.wrapper {
  display:none;
}
.block-search
{ 
display:none; 
}
hr.yellow{
width: 40%;
border: 3px solid #d18d1e;
float: left;
margin: 0 !important;
height: 0px;
background:#d18d1e;
} 
.slider-product-item-info .product-item-name{
font-weight:400;
}
.footer.content .links {   
margin-left: 0;
order: 2;
}

.copyright{
background-color: #d18d1e;
height:4px;
}
.copyright span{
display:none;
}
.newsletter label span{
  display:block;
}
.block.newsletter input::placeholder{
  color:#000;
}
.block.newsletter .actions{
  display: block;
vertical-align: top;
width: auto;
}
.block.newsletter .field .control::before {
   display:none;
}
.block.newsletter .action.subscribe {
background:#fff;
border:#fff;
color:#000;
display: block;
float:left;
font-size: 20px;
margin-top: 45px;
padding:0;
}
.footer.content .links a {
    color: #000000;
    text-decoration: none;
}
.footer.content .links a:hover, .footer.content .links a:visited{
    color:#000;
    text-decoration: none;
   
}
.last-block-homepage{
  margin:65px 0;
}
.block.newsletter  input#newsletter {

    padding-left: 0px;
    border: 0px solid;
    height: 48px;
    font-size: 21px;
    color:#000;
}
.block.newsletter input::-moz-placeholder, .block.newsletter input::-webkit-input-placeholder, .block.newsletter input::ms-input-placeholder{
  color:#d18d1e;
  font-size:32px;
}
._keyfocus :focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: 0 0 0px 0px #00699d;
}
.page-wrapper{
  padding-top:180px;
}
.cms-home .page-wrapper{
  padding-top:0px;
}
.owl-carousel .slider-text-bottom-left{
    bottom: 25%;
    max-width: 400px;
    left: 10%;
    position: absolute;
}
.owl-carousel .slider-text-bottom-right {
   bottom: 25%;
    max-width: 400px;
    right: 10%;
    position: absolute;
}
.owl-carousel .slider-text-bottom-right img{
  width:100%;
  height:auto;
}
.slider-banner-content{
text-align: center;
color: #fff;
font-size: 42px;
}
.immagine-homepage-slider{
  max-width:250px !important;margin:0 auto; float:none;
}
.immagine-homepage-slider-logo{
  max-width:150px !important;margin:0 auto; float:none;
}
/*.breadcrumbs{
  padding-left:0px !important;

}*/
.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}
/*.catalog-category-view .breadcrumbs  .items .home {
    display: none !important;
}*/
.catalog-category-view .breadcrumbs .items {
    font-size: 2.6rem;
    color: #000000;

}
.catalog-category-view .breadcrumbs{
  padding-left:20px !important;
  margin-bottom:35px;
}
.catalog-category-view .breadcrumbs .item{
display:block;float:left;clear:left;
}
.catalog-category-view .breadcrumbs .item:last-child {
   color:#000000;
}
.catalog-category-view .breadcrumbs .item:not(:last-child)::after {
  display:none;
}
.catalog-category-view .breadcrumbs .item:last-child::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.6rem;
    line-height: 120%;
    content: '/';
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.breadcrumbs a:hover{
  text-decoration: none;
  color:#000000;
}
.abs-product-link > a:visited, .product-item-name > a:visited, .product.name a > a:visited {
    color: #000000;
    text-decoration: underline;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    background: #ffffff;
    box-shadow: none;
    border: 0px solid #bbbbbb;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 2;
}
.opc-block-summary .product-item .product-item-name-block {
    display: block;
    padding-right: 5px;
    text-align: left;
    width: 100%;
    clear: both;
    float: left;
}
.opc-block-summary .product-item .subtotal {
    display: block;
    text-align: left;
    float: left;
}
.minicart-items .product .toggle::after {
    color: #000000;
    margin: 0 0 0 5px;
    position: static;
}
.minicart-items .product .toggle {
    font-size: 1.3rem;
}
.product-item-name {
  float:left;
  width:40%;
  margin: 11px 0;
  text-align: left;
line-height: 110%;
}
.opc-progress-bar-item._active::before {
    background: transparent;
    border-color: transparent;
}
.minicart-items .product-item-name {
  width:unset;
}
.gender-category-link{
width:20%;
    border-left: 1px solid black;
    padding-left: 5px;
    margin-left: 5px;
    float: left;
    margin-top: 11px;
line-height: 110%;
}
.product-item .price-box {
margin: 8px 10px 6px 0;
float: left;
/*width: 30%;*/
}
.product-item span.outofstock{
float: left;
    color: #D18D1F;
    margin-top: 8px;
    margin-right: 10px;
    width: 75px;
    margin-right: 10px;
    line-height: 17px;
}
.product-item .price-box .price-label {
    display:none;
}
.product-item {
    font-size: 1.4rem;
}
.minicart-items .product-item:not(:first-child) {
    border-top: 0px solid #cccccc;
}
.price-container .price {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight:600 !important;
}
.filter .block-subtitle {
    border-bottom: 0px solid #ccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    padding: 10px 0px 20px;
}
.filter-options-title{

    cursor: pointer;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    padding: 10px 40px 0 0px;
    position: relative;
    text-transform: inherit;
    word-break: break-all;
    z-index: 1;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
margin-top: 20px;
}
/*.filter .block-subtitle {
  display: none;
}*/
.filter-options-content a:hover {

    background-color: transparent;
    text-decoration: none;

}
.swatch-option {
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 0 10px 5px 0;
    max-width: 20px;
    min-width: 20px;
    overflow: hidden;
    padding: 1px 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 00%;
}
/*#product-attribute-specs-table tr th.label::after{
 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    float:right;
}*/
.filter-options-title::after, /*#product-attribute-specs-table tr th.label::after*/{
    font-size: 10px; 
    content: '\e607';
}
.active > .filter-options-title::after, /*#product-attribute-specs-table tr th.opened::after*/{ 
    font-size: 10px; 
    content: '\e618';
}
.filter-options-item {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.footer.content .links > li {
    background: #fff;
    font-size: 1.6rem;
    border-top: 0px solid #cecece;
    margin: 0 -15px;
    padding: 0 15px;
    color:#000000;
}
.footer.content .links a:visited {
    color: #000000;
    text-decoration: none;
}
.footer.content{
align-items: center;
justify-content: center;
display: flex;
}
.footer.content .block{
 align-self: center;
}
.footer-logo{
order: 1;
margin-left: auto;
margin-right: 60px;
}
.footer .social-logo{
  order:3;
}
.footer .social-logo,.footer .footer-logo{align-self: center;}
.footer .social-logo a.inst, .footer .social-logo a.face{
  margin:0 5px;
}
.active-menu{
display:none;
}
.footer.content {
    border-top: 0px solid #cecece;
    padding-top: 20px;
}
.product.data.items {
  border-bottom:0;
}
.fotorama__nav--dots .fotorama__nav__frame {
    height: 30px;
    width: 30px;
}
.fotorama__dot {
    border-radius: 0px;
    border: 0px solid #858585;
    display: block;
    height: 5px;
    left: 6px;
    position: relative;
    top: 12px;
    width: 16px;
    background: #000;
}
.fotorama__active .fotorama__dot {
    background-color: #d18d1e;
    border-color: #d18d1e;
}
.slider-product-item-info {

    width: 100% !important;
margin:0 auto;
}
.product-image-wrapper {

    float: left;
    width: 100%;

}
#myLinks-mobile{display:none;}
.contenitore-slider-mobile{display:none;}
.contenitore-slider-desktop{display:block;}

.block-search {
    float: right;
    padding-left: 0px;
    position: fixed !important;
    width: 100% !important;
    z-index: 4;
    top: 100px;
    right: 0;
    background:#fdfcfa;
    border-top:1px solid #71716f;
    border-bottom:1px solid #71716f;
    height:100px;
}
#search_mini_form{
  max-width: 400px;
float: none;
height:36px;
margin: 30px auto;
border-bottom: 1px solid #71716f;
}
#search_mini_form .search{
  float:left;
}
.block-search input {
background: transparent;
position: relative;
background-clip: border-box;
background-clip: padding-box;
border-bottom: 0px solid #000;
border-radius: 0px;
font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
padding: 0 20px !important;
padding-right: 9px;
vertical-align: baseline;
width: 100%;
box-sizing: border-box;
border-right: 0px;
border-top: 0px;
border-left: 0;
left: unset;
}
.block-search .label{
  display:none !important;
}
#search_mini_form .actions{
  float:right;
  margin-right:20px;
}
.block-search .action.search::before {
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px !important;
line-height: 32px;
    color: #757575;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    
  }
  .block-search .action.search{
    position: relative !important;
    display: inline-block;
background-image: none;
background: none;
-moz-box-sizing: content-box;
border: 0;
box-shadow: none;
line-height: inherit;
margin: 0;
padding: 0;
text-decoration: none;
text-shadow: none;
font-weight: 400;
right: 10px;
top: 0;
z-index: 1;
margin:0 !important;
  }
  .block-search .action.search span{
    display:none;
  }
.page-layout-privacy-cookie-layout .breadcrumbs {display:none;}
.page-layout-privacy-cookie-layout .page-title-wrapper, .page-layout-privacy-cookie-layout .messages, .page-layout-privacy-cookie-layout .columns{
  width:50%;
  float:right;
  display: block;
  clear: both;
}
.toolbar .modes{display:none;}
.dati-form, .dati-contatti{
  width: 50%;
float: left;
display: flex;
align-items: center;
}
.dati-contatti{
  font-size:18px;
}
.contact-index-index .column:not(.sidebar-additional) .form.contact{
  min-width:60% !important;
}
#category-wrapper .social-logo{
position:absolute;
bottom:50px;
right:50px;
}
#category-wrapper .social-logo a.face, #category-wrapper .social-logo a.insta{
margin: 0 5px;
}
.action-primary:hover {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.block-search .block-content{
position: relative;
max-width: 1200px;
margin: 0 auto;
}
.block-search .block-content .close-button{
position: absolute;
right: 100px;
top: 10px;
text-transform:uppercase;
font-size: 1rem;
}
.block-search .block-content .close-button span{
  margin-left:8px;
}
.search-mobile{display:none;}
.page-products .sorter{display:none;}

@media only screen and (max-width: 1200px){
.full-container-flex.products-row{
width: 900px;
margin: 100px auto 0 auto;
}
.products-row .product-item {
    max-width: 260px;
}
}

@media only screen and (min-width:992px){
.logo 
{
    margin: 0px auto 25px 0 !important;
    max-width:90px;
}
}
@media only screen and (max-width:991px){

.full-container-flex.products-row{
width: 100%;
margin: 100px auto 0 auto;
}
.products-row .product-item {
    max-width: auto;
    padding: 0 10px !important;
}
  .page-wrapper {
    padding-top: 100px;
}
   .horizontal-menu, #login-link {
    display:none;
}
  .header.content{
position: absolute;
width: 100% !important;
left: 0;
top: 10px;
margin-left: auto;
padding: 0 !important;
}
.topnav a:hover {
  background-color: #fff;
  color: black;
}
.navigation{
  display:none;
}
.active-menu {
  background-color:transparent;
color:#000000;
z-index: 100000;
margin-left: 15px;
margin-top: 15px;
float: left;
position: absolute;
left: 0;

top: 18px;
}
.active-menu svg{width:20px;height:20px;cursor:pointer;}
.minicart-wrapper {
    display: block;
    position: absolute;
    float: right;
    right: 10px;
    top: 0;
    margin-top:0;
}
.search-mobile{
  display:block;
  float:left;
  margin-right:15px;
  cursor:pointer;
}
.search-mobile::before{
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 16px;
line-height: 68px;
color: #000;
content: '\e615';
font-family: 'luma-icons';
margin: 0;
vertical-align: top;
display: inline-block;
font-weight: normal;
overflow: hidden;
speak: none;
text-align: center;
}

#login-link{
display: none;
position: absolute;
right: 99px;
float: unset;
top: 16px;
width: 42px;
margin: 0;
text-align: center;
line-height: 80%;
padding: 10px 0;
}
#login-link a{
  font-size: 9px;
text-align: center;
text-transform: uppercase;
}
/*#login-link a {
    position: relative;
    text-indent: -9999px;
    display: block;
    width: 18px;
}
#login-link a::before {
  font-size: 15px;

line-height: 18px;

content: '\f007';

font-family: 'Font Awesome\ 5 Free';

margin: 0 10px;

vertical-align: top;

display: inline-block;

font-weight: 900;

overflow: hidden;

speak: none;

text-align: center;

position: absolute;

top: 1px;

left: 0;

width: 18px;

text-indent: 0;
}
*/
.topnav{
  display:block;
  top:0;
  left:0;
}
.topnav.opened {
overflow: hidden;
background-color: #fff;
position: fixed;
top: 91px;
bottom: 0;
width: 100%;
overflow-y: auto;
}
.page-header .header.panel{
  padding:0;
}
.topnav #myLinks {
  display: none;
  padding: 10px 15px 30px;
}

.logo {
margin: 10px auto !important;

width: 70px;

float: none;

display: block;
}
.topnav a {
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 32px;
  display: block;
}
.topnav a::before {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    text-align: center;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.minicart-wrapper .counter-label {
    font-size: 16px;
    }
    .minicart-wrapper .action.showcart {
display:block;
float:left;
    margin-top: 25px;

}
.product-info-main .page-title, .product-info-price .product-info-stock-sku, .titolo-collezione{
  display:none;
}
.mobile-product-title .product-info-price .product-info-stock-sku{
  display:block;
}
.minicart-wrapper .counter-label{
  letter-spacing:0;
}
   .link-categories a {
    letter-spacing: 2px;
    margin: 0 4px;

}
.product-info-left, .catalog-product-view.page-layout-2columns-right .product-info-main ,.catalog-product-view.page-layout-2columns-right .product.media {
    float: left;
    width: 100%;
    position: relative;
    top:unset;
    left:unset;
    bottom:unset;
    right:unset;

}
.images-mobile, .active-menu{
  display:block;
}
.images-desktop{
  display:none;
}
.mobile-product-title{display:block;}
.cms-home #banner-slider-carousel {
    margin-top: 90px;
}
.half-block h2{
  font-size:2.2rem;
}
.cms-home .half-block{
  margin-right:35px;
}
  .page-header{
  height:90px;
}
.block-search{
  top:90px;
}
/*.header.content {
    padding: 0 20px !important;
}
.logo {
margin: 0 auto 25px 0 !important;
}*/
.horizontal-menu ul li {

    width: 120px;

}
.page-layout-privacy-cookie-layout .breadcrumbs {display:none;}
.page-layout-privacy-cookie-layout .page-title-wrapper, .page-layout-privacy-cookie-layout .messages, .page-layout-privacy-cookie-layout .columns{
  width:100%;
  float:left;
  display: block;
  clear: both;
}
.page-layout-full-stories-layout .image-content {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30%;
}
#login-link {

    width: 120px;
    text-align: left;
    margin: 38px 5px 0 0;

}
.horizontal-menu ul {

    width: 380px;
    margin-top: 18px;

}

.horizontal-menu ul li a, #login-link a {
    font-size: 1.4rem;
}
  .logo img {
    width:80px;
  }
  .block-minicart .items-total {

    float: left;
    width: 100%;
    margin: 0;

}

.block-minicart .block-content > .actions > .primary {

    margin: 20px 0px 15px;
    width: 100%;
    float: left;
    clear: left;

}

.block.newsletter input {
    padding-left: 0px;
    border: 0px solid;
    height: unset;
    font-size: 1.8rem;
    color: #000;
    border-bottom: 0px solid #dedede;
}
.block.newsletter .action.subscribe {
    background: #fff;
    border: #fff;
    color: #000;
    display: block;
    float: left;
    font-size: 15px;
    margin-top: 15px;
    padding: 0;
}
.block.newsletter .action.subscribe {
    color: #000;
    font-size: 15px;
}
 #category-wrapper {

    width: 100%;
    }

#myLinks-mobile h3{
text-transform: inherit;
color:#000000;
padding-left:15px;
}
.topnav.opened #myLinks-mobile{
width: 80%;
margin:0 10%;
padding: 45px 0 30px;
float:left;
display: block;
}
#myLinks-mobile ul{
float: left;
margin: 0;
padding: 0;
width: 100%;
list-style-type: none;
}
#myLinks-mobile ul li ul{
display:none;
padding
}
#myLinks-mobile ul li.has-sub a.op:after{  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: inherit;
    color: inherit;
    content: '\e607';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    float:right;
}
#myLinks-mobile ul li.has-sub.opened a.op:after{
  content: '\e607';
}
#myLinks-mobile ul li ul.last{
  padding-bottom:20px;
}
#myLinks-mobile ul li ul li a{
padding: 0 15px;
font-size:14px;
}
.catalog-product-view.page-layout-2columns-right .product.media, .catalog-product-view.page-layout-2columns-right .product-info-main, .product.info.detailed {
    width: 100%;
    float: left;
}
.catalog-product-view.page-layout-2columns-right .product.media{
  margin-bottom:30px;
}
.catalog-product-view.page-layout-2columns-right .product-info-main, .product.info.detailed {
  margin-bottom:0;
}
.product-info-left .breadcrumbs {
    display: none;
}
.product.data.items {
    float: left;
    margin: 0;
}
.product-info-price {
    margin: 0 0 0;
  }
  .catalog-product-view .column.main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.product-info-left{
  order:2;
}
.product.info.detailed {

    margin-top: 0px;
}
.catalog-product-view.page-layout-2columns-right .product-info-main{
order:3;
}
.catalog-product-view.page-layout-2columns-right .product.media{
order:1;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
    display: block !important;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border{
  display:none !important;
}
}
#banner-slider-carousel .owl-dots {
    position: absolute;
    bottom: -55px !important;
    left: 50%;
    opacity: 1;
    margin-left: -24px;
}
.contenitore-slider-mobile .owl-stage img{
  border-bottom:5px solid #d18d1e;
}
.image-caption{
  width: 100%;
text-align: center;
margin-top: 10px;
font-size: 18px;
color:#000000;
padding:30px 0;
}
.block-collapsible-nav .content {
    background: #ffffff;
}
.block-collapsible-nav .item a, .block-collapsible-nav .item > strong {
    border-left: 0px solid transparent;
    color: #000000;
    display: block;
    padding: 5px 18px 5px 15px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  border-color:#d18d1e;
}
.abs-discount-block .actions-toolbar .action.primary:not(:focus), .abs-discount-block .actions-toolbar .action.cancel:not(:focus), .block-compare .action.primary:not(:focus), .cart-summary .form.giftregistry .fieldset .action.primary:not(:focus), .cart-summary .block .actions-toolbar > .primary .action.primary:not(:focus), .paypal-review-discount .actions-toolbar .action.primary:not(:focus), .paypal-review-discount .actions-toolbar .action.cancel:not(:focus), .cart-discount .actions-toolbar .action.primary:not(:focus), .cart-discount .actions-toolbar .action.cancel:not(:focus) {
    box-shadow: unset;
}
.abs-revert-to-action-secondary, .paypal-review .block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.paypal-review-discount .block > .title strong, .cart-discount .block > .title strong {
    color: #000000;
    font-weight: 400;
}
.abs-revert-secondary-color:hover, .abs-revert-to-action-secondary:hover, .paypal-review .block .actions-toolbar .action.primary:hover, .abs-discount-block .actions-toolbar .action.primary:hover, .abs-discount-block .actions-toolbar .action.cancel:hover, .block-compare .action.primary:hover, .cart-summary .form.giftregistry .fieldset .action.primary:hover, .cart-summary .block .actions-toolbar > .primary .action.primary:hover, .paypal-review-discount .actions-toolbar .action.primary:hover, .paypal-review-discount .actions-toolbar .action.cancel:hover, .cart-discount .actions-toolbar .action.primary:hover, .cart-discount .actions-toolbar .action.cancel:hover {
    background: #d18d1e;
    border: 1px solid #d18d1e;
    color: #ffffff;
}
.abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel {
    border-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
}
.paypal-review .table-paypal-review-items .col.price .price-including-tax, .paypal-review .table-paypal-review-items .col.price .price-excluding-tax, .paypal-review .table-paypal-review-items .col.subtotal .price-including-tax, .paypal-review .table-paypal-review-items .col.subtotal .price-excluding-tax, .order-details-items .col.price .price-including-tax, .order-details-items .col.price .price-excluding-tax, .order-details-items .col.subtotal .price-including-tax, .order-details-items .col.subtotal .price-excluding-tax, .cart.table-wrapper .col.price .price-including-tax, .cart.table-wrapper .col.price .price-excluding-tax, .cart.table-wrapper .col.subtotal .price-including-tax, .cart.table-wrapper .col.subtotal .price-excluding-tax, .cart.table-wrapper .col.msrp .price-including-tax, .cart.table-wrapper .col.msrp .price-excluding-tax {
    color: #000000;
    font-size: 1.8rem;
    line-height: 1;
    white-space: nowrap;
}
.product-item-name > a, .product.name a > a {
    color: #000000;
    text-decoration: none;
}
.abs-discount-block .block > .title::after, .cart-summary .block > .title::after, .paypal-review-discount .block > .title::after, .cart-discount .block > .title::after {
    color: #000000;
}
.checkout-payment-method .payment-option-title .action-toggle {
    color: #000000;
}
button:not(.primary) {
    box-shadow: unset;
}
.block-search .control{
  border:0px solid #cccccc;
}
@media only screen and (min-width:768px){
.box-tocart .action.tocart{
  width: 100% !important;
max-width: 250px;
}
.block.newsletter{
float:left !important;
}
.page-footer {
background: #ffffff !important; 
color:#000;  
}
.minicart-wrapper .block-minicart {
    width: 50% !important;
}
}

@media only screen and (max-width:767px){

div#bio_ep {
    transform: 50% !important;
    top: 100px;
    left: 10%;
    transform: none !important;
    width: 80%;
    height: auto;
}
    .tmp3-text {
    margin: 20px 0 40px !important;
}
.tmp3-img-content{
  display:none !important;
}
.tmp3-text-content {
    width: 100% !important;
}
.tmp3_field_newsletter{
  width: 85%;
}
.action.tmp3-button{
  height: 34px !important;
    max-width: 300px;
    width: 15%;
}
.full-container-flex.products-row{
width: 80%;
flex-direction: column;
align-items: center;
justify-content: center;
}
.products-row .product-item {
padding:45px 0 !important;
max-width: 400px
}
.full-container-flex.products-row:last-of-type {
    margin: 0px auto 0 auto;
}
  .footer.content {
    border-top: 0px solid #cecece;
   
}

.footer.content .links {
    float: left;
    width: 100%;
    margin: 45px 0;
    text-align: center;
}
.footer.content .links > li {
    background: #ffffff;
    font-size: 1.4rem;
    border-top: 0px solid #cecece;
    margin: 0 -15px;
    padding: 0 15px;
    color:#000000;
}
.footer.content .links a, .footer.content .links strong {
    display: block;
    padding: 5px 0;
}
 
#category-wrapper .social-logo {
    bottom: 100px;
}
  .one-third-block-flex-text{
    text-align:center;
    margin-bottom:45px;
  }
  .text-homepage-right{
    text-align:left;
  }
  #search_mini_form{
    margin:40px auto 30px !important;
  }
  .block-search input{
  margin:0 !important;
}
  .block-search .block-content .close-button{
    right:15px;
    top:100px;
    position:fixed;
  }
  .page-footer .switcher .options ul.dropdown{
       margin: 30px auto !important;
    text-align: center;
    float: none;
    width: 100%;
  }
  .page-header .switcher .options, .page-footer .switcher .options {
     
    width: 100%;
}
  .dati-form, .dati-contatti{
    width:100%;
    margin:35px 0;
  }
   
  .block-search{
    top:80px;
  }
.block-search .block-content .close-button{
  right:12px;
}
  .page-layout-full-stories-layout .page-wrapper {
    padding-top: 90px;
}

  .block.newsletter input::-webkit-input-placeholder, .block.newsletter input::placeholder{
    text-align: center;
  }
  .footer.content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.footer-logo {
    order: 1;
    margin-left: auto;
    margin-right: auto;
}
.block.newsletter {
    margin-bottom: 50px;
    text-align: center;
}
  #banner-slider-carousel .owl-dots {
    bottom: -35px !important;
  }
  .image-caption h3 {
    font-size: 1.4rem;
}
span.button {
   
    font-size: 1.2rem;
  
}
  .contenitore-slider-mobile{display:block !important;}
.contenitore-slider-desktop{display:none !important;}
  /*.contenitore-slider-homepage .banner-slider-carousel{display:block;}*/
   
  
  #category-wrapper {

    width: 100%;
    position: fixed;
    top: 51px;
    right: -3000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 32px;
    background: #ffffff;
    z-index: 1000;
    -webkit-transtition: right 1s ease-in-out;
    transition: right 1s ease-in-out;
    width: 100%;
    float: left;
    display: block;
    padding: 0;
    margin: 40px 0 0;

}
/*.breadcrumbs .items > li {
    font-size: 2rem !important;
}*/
#login-link a:hover::before {
   display: none
}
.category-container{
  float:left;
  padding-top:40px;
}
#category-wrapper .close-cat-menu {

    position: absolute;
    right: 60px;
    top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

}
#category-wrapper ul li a::after { 
display:none !important;
}
  .half-block h2 {

    font-weight: 800;
    font-size:2rem;

}
.link-categories a {

    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 5px 0 5px;

}
.half-block-flex-text .text-homepage-left{
  text-align:center;
}
.cms-collections-ss-20-rfr-fabiano-ricci .half-block-flex-text .text-homepage-left, .cms-collections-ss-20-a-grail-therapy .half-block-flex-text .text-homepage-left{
  text-align:left;
}
.text-homepage-right{
      text-align: center;
}
.text-homepage-right img{
  width:100%;
}
  .minicart-wrapper .block-minicart {
    width: 100% !important;
}

.columns {
    display: block;
}
.page-products .columns {
    display:flex;
  }
.catalog-category-view .columns{
  display:flex;
}
.columns .sidebar-main {order:1;}

.columns .column.main {order:2;}
#minicart-content-wrapper {
    margin-top: 25px;
    padding: 10px 15px;
}
.block-minicart .price-container {
    margin-top: 15px;
    float: right;
    width: 100%;
    text-align: left;
}
.block-minicart .amount.price-container {
    text-align: right;
}
.block-minicart .subtotal {
    margin: 0 0px 10px;
    text-align: right;
    text-transform: uppercase;
}
.catalog-category-view .breadcrumbs .item:last-child::before {
    font-size: 1.6rem;
    margin: 0 5px 0 0;
}
.filter.active .filter-options {
    float: left;
width: 100%;
display: block;

  /*  background: #ffffff;
    bottom: 0;
    display: block;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 10;*/
}
.filter.active .filter-subtitle{
  margin-left:10px;
}
.filter.block {
    margin-bottom: 20px;
}
.filter.active .filter-title {
    float: left;

width: 100%;

display: block;
}

.filter.active .filter-subtitle {
    height: 50px;
 
}
.filter-options-item {
   
    padding: 0 10px 10px;
}
  .filter-title strong {
    background-image: none;
    background: #000;
    border: 0px solid #000000;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    display: block;
float: left;
padding: 10px !important;
border-radius: 0px !important;
min-width: 150px;
}
.filter-title strong {
    background-color: none;
    box-shadow: unset;
    border: 0px solid #ccc;
    border-radius: 3px;
    font-weight: 400;
    left: 0;
    line-height: 16px;
    padding: 0px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
}
  
.breadcrumbs {
    display: block;
    margin-top:25px;
}
.breadcrumbs .items > li {
   
    font-size: 1.4rem;
}



.page-layout-1column .page-wrapper, .page-layout-2columns-left .page-wrapper{
    padding-top: 140px;
}

.action.primary{
height: 40px;
    max-width: 300px;
    }
   
.full-container-flex{
  margin: 60px 0 0;
  flex-direction: column;
}
.first-group{
  flex-direction: column-reverse;
}
.owl-carousel .slider-text-bottom-right {
   bottom: 25px;
right: 25px;
max-width: 150px;

}
.owl-carousel .slider-text-bottom-left {
    bottom: 40px;
    max-width: 240px;
    left: 40px;
    position: absolute;
}
.slider-banner-content{
text-align: center;
color: #fff;
font-size: 21px;
letter-spacing: 2px;
}
.immagine-homepage-slider{
  max-width:150px !important;margin:0 auto; float:none;
}
.immagine-homepage-slider-logo{
  max-width:80px !important;margin:0 auto; float:none;
}
.page-header .widget.block{
  display:block;
  float:left;
  width:100%;
}

.filter-options-title {
padding: 5px 40px 0 0px;
margin-top: 10px;
}

.half-block-flex, .half-block-flex-text {
    width: 100%;
}
.cms-home .first-group .half-block-flex{
  margin-bottom: 100px;
  padding: 0 0;
}
.half-block-flex-text{
  margin-top:45px;
  margin-bottom:45px;
}
.half-block-flex-text .text-homepage-left, .half-block-flex-text .text-homepage-right {
    padding: 0;
}
.half-container {
width: 100%;
float:left !important;
}
.half-block-flex-double{
  width:100%;
}
.cms-home .owl-carousel{
  margin-top:90px;
  border-bottom:0px solid #d18d1e;
}
.cms-home .product-items .owl-carousel{
  margin-top:0px;
}

}
@media only screen and (max-width: 639px){
#fb-root{
  display:none !important;
}
.minicart-wrapper .block-minicart {
    width: 100% !important;
}
.product-info-price > :last-child{
  padding-right:0 !important;
}
.product-info-price > :first-child {
    padding-left: 0 !important; 
}
}
@media only screen and (max-width: 480px){
  .block-search input{
   max-width:250px;
  }
  span.link-categories a{
    font-size:1.2rem;
  }
  .products-grid .product-item {
    display: block !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.product-item .price-box,.product-item span.outofstock {
    float: left;
    width: 20%;
}
.product-item-name {
    width: 50%;
}
.gender-category-link {
  width: 20%;
}
}