<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>

<?php
    $images = $block->getGalleryImages()->getItems();
    $mainImage = current(array_filter($images, function ($img) use ($block) {
        return $block->isMainImage($img);
    }));

    if (!empty($images) && empty($mainImage)) {
        $mainImage = $block->getGalleryImages()->getFirstItem();
    }

    $helper = $block->getData('imageHelper');
    $mainImageData = $mainImage ?
        $mainImage->getData('medium_image_url') :
        $helper->getDefaultPlaceholderUrl('image');

        $json=$block->getGalleryImagesJson();
$array = json_decode($json,true);


?>

<div class="images-desktop">
<span>
    <?php
    foreach($array as $item)
{
    $imgurl = $item['full'];
  ?>  <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $imgurl ?>"
    />
<?php           
} 
    ?></span>
</div>
<div class="images-mobile">
    <?php $productName = $block->getProduct()->getName(); ?>
<?php $productSku = $block->getProduct()->getSku(); ?>
 <div class="mobile-product-title">
    <!--        <strong>--><?php ///* @escapeNotVerified */ echo __('Customer Reviews') ?><!--</strong>-->
   <h1 class="page-title"><?php  echo $productName; ?></h1>
   <div class="product-info-price"><div class="product-info-stock-sku">
<div class="product attribute sku"> 
    <div class="value" itemprop="sku"><?php  echo $productSku; ?></div>
</div>
</div></div>
 </div>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $mainImageData ?>"
    />
</div>
</div>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @escapeNotVerified */ $block->getMagnifier() ?>,
                "data": <?= /* @escapeNotVerified */ $block->getGalleryImagesJson() ?>,
                "options": <?= /* @noEscape */ $block->getGalleryOptions()->getOptionsJson() ?>,
                "fullscreen": <?= /* @noEscape */ $block->getGalleryOptions()->getFSOptionsJson() ?>,
                "breakpoints": <?= /* @escapeNotVerified */ $block->getBreakpoints() ?>
            }
        }
    }
</script>
