<?php echo '<div class="contenitore-slider-mobile">';?>
<?= $block->getLayout()->createBlock(Mageplaza\BannerSlider\Block\Widget::class)->setSliderId(6)->toHtml();?>
<?php echo '</div>'; ?>
<?php echo '<div class="contenitore-slider-desktop">';?>
<?= $block->getLayout()->createBlock(Mageplaza\BannerSlider\Block\Widget::class)->setSliderId(3)->toHtml();?>
<?php echo '</div>'; ?>