<?php echo '<div id="login-link"><a href="'.$this->getUrl("customer/account/login").'">My account</a></div><div class="horizontal-menu"><ul>
<li class="level0 level-top category-item"><a class="level-top category-link" href="#">Shop</a></li>
<li class="level0 level-top category-item"><a class="level-top" href="/about-us">About</a></li>
<li class="level0 level-top category-item"><a class="level-top" href="#"></a></li>
<li class="level0 level-top category-item"><a class="level-top" href="/stories">Stories</a></li>
<li class="level0 second-line level-top"><a class="level-top" href="/collections-ss-20-rfr-fabiano-ricci">Collections</a></li>
<li class="level0 level-top category-item"><a class="level-top search-button" href="#">Search</a></li>
</ul></div>';?>