<?php echo '<a href="#" class="active-menu"><svg viewBox="0 0 100 60" width="20" height="20">
  <rect width="100" height="10"></rect>
  <rect y="30" width="100" height="10"></rect>
  <rect y="60" width="100" height="10"></rect>
</svg></a>
<div class="topnav">
<div id="myLinks-mobile">
<ul>
<li class="level0 category-link"><a class="op" href="#">Shop</a></li>
<li class="level0"><a href="'.$this->getUrl("customer/account/login").'">My account</a></li>
<li class="level0"><a href="/about-us">About</a></li>
<li class="level0"><a href="/stories">Stories</a></li>
<li class="level0"><a href="/collections-ss-20-rfr-fabiano-ricci">Collections</a></li>
</ul>
</div>
</div>
';
?>

