<?php 

$cart_fields = $this->getCartFields();
$confirm_fields = $this->getConfirmFields();
$dimensions = $this->getPopupDimensions();
?>

<div class="fieldset-wrapper" id="cart-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1"><?php echo __("Cart")?></h1>
        <table class="supercheckout-address-cart-table alternate">
            <thead>
                <tr class="even">
                    <th class="name"></th>
                    <th class="guest"><?php echo __("Guest Customer"); ?></th>
                    <th class="login"><?php echo __("Logged in Customer"); ?></th>
                    <th class="icon"></th>
                </tr>
            </thead>
            <tbody id="cart_form">
                <?php foreach($cart_fields["cart_items"] as $fields){ ?>
                <tr class="sort-item ui-state-default">
                    <td class="name">
                        <span><?php echo $fields["label"]; ?>
                        </span>
                        <?php if($fields["hint"]){?>
                            <div class="hint"></div>
                        <?php } ?>
                    </td>
                    <td class="guest">
                        <input class="cart-checkboxes" type="checkbox" value="1" name="supercheckout[cart][guest][<?php echo $fields["name"]; ?>][display]" <?php echo ($fields["display_guest"])?'checked="checked"':''; ?> id="guest_cart_fields_<?php echo $fields["name"]; ?>_display"/>
                        <input <?php echo ($fields["display_guest"])?'disabled="disabled"':''; ?> type="hidden" value="0" name="supercheckout[cart][guest][<?php echo $fields["name"]; ?>][display]" id="guest_cart_fields_<?php echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="guest_cart_fields_<?php echo $fields["name"]; ?>_display"><?php echo __("Display"); ?></label>
                    </td>
                    <td class="login">
                        <input class="cart-checkboxes" type="checkbox" value="1" name="supercheckout[cart][login][<?php echo $fields["name"]; ?>][display]" <?php echo ($fields["display_login"])?'checked="checked"':''; ?> id="login_cart_fields_<?php echo $fields["name"]; ?>_display"/>
                        <input <?php echo ($fields["display_login"])?'disabled="disabled"':''; ?>  type="hidden" value="0" name="supercheckout[cart][login][<?php echo $fields["name"]; ?>][display]" id="login_cart_fields_<?php echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="login_cart_fields_<?php echo $fields["name"]; ?>_display"><?php echo __("Display"); ?></label>
                    </td>
                    <td class="icon">
                    </td>
                </tr>
                <?php } ?>
                <tr class="sort-item ui-state-default">
                    <td class="name">
                        <span><?php echo __("Popup image size"); ?>
                        </span>
                    </td>
                    <td class="guest" colspan="2">
                        <input class="supercheckout-text" placeholder="<?php __("Height"); ?>"  type="text" value="<?php echo $dimensions["width"]; ?>" name="supercheckout[cart][popup_image_width]" />
                        <span class="supercheckout-x">x</span>
                        <input class="supercheckout-text" placeholder="<?php __("Width"); ?>" type="text" value="<?php echo $dimensions["height"]; ?>" name="supercheckout[cart][popup_image_height]" />
                    </td>
                    <td class="icon">
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<h1 class="supercheckout-h1"><?php // echo __("Confirm")?></h1>-->
<!--        <table class="supercheckout-address-cart-table alternate">
            <thead>
                <tr class="even">
                    <th class="name"></th>
                    <th class="guest"><?php // echo __("Guest Customer"); ?></th>
                    <th class="login"><?php // echo __("Logged in Customer"); ?></th>
                    <th class="icon"></th>
                </tr>
            </thead>
            <tbody id="confirm_form">
                <?php // foreach($confirm_fields["confirm_items"] as $fields){ ?>
                <tr class="sort-item ui-state-default">
                    <td class="name">
                        <span><?php // echo $fields["label"]; ?>
                        </span>
                        <?php // if($fields["hint"]){?>
                            <div class="hint"><?php // echo $fields["hint"] ?></div>
                        <?php // } ?>
                    </td>
                    <td class="guest">
                        <input class="confirm-checkboxes" type="checkbox" value="1" name="supercheckout[confirm][guest][<?php // echo $fields["name"]; ?>][display]" <?php // echo ($fields["display_guest"])?'checked="checked"':''; ?> id="guest_confirm_fields_<?php // echo $fields["name"]; ?>_display"/>
                        <input <?php // echo ($fields["display_guest"])?'disabled="disabled"':''; ?> type="hidden" value="0" name="supercheckout[confirm][guest][<?php // echo $fields["name"]; ?>][display]" id="guest_confirm_fields_<?php // echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="guest_confirm_fields_<?php // echo $fields["name"]; ?>_display"><?php // echo __("Display"); ?></label>
                    </td>
                    <td class="login">
                        <input class="confirm-checkboxes" type="checkbox" value="1" name="supercheckout[confirm][login][<?php // echo $fields["name"]; ?>][display]" <?php // echo ($fields["display_login"])?'checked="checked"':''; ?> id="login_confirm_fields_<?php // echo $fields["name"]; ?>_display"/>
                        <input <?php // echo ($fields["display_login"])?'disabled="disabled"':''; ?>  type="hidden" value="0" name="supercheckout[confirm][login][<?php // echo $fields["name"]; ?>][display]" id="login_confirm_fields_<?php // echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="login_confirm_fields_<?php // echo $fields["name"]; ?>_display"><?php // echo __("Display"); ?></label>
                    </td>
                    <td class="icon">
                    </td>
                </tr>
                <?php // } ?>
            </tbody>
        </table>-->
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
        /*for sorting of rows in shipping address*/
        $(document).ready(function(){
            $('#confirm_form tr').each(function(i,ele) {
                if(i%2 == 0){
                    $(this).addClass("odd");
                }else{
                    $(this).addClass("even");
                }
            });
            $('#cart_form tr').each(function(i,ele) {
                if(i%2 == 0){
                    $(this).addClass("odd");
                }else{
                    $(this).addClass("even");
                }
            });
        });
       $(".confirm-checkboxes").click(function(){
           if($(this).is(":checked")){
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",true);
           }else{
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",false);
           }
       });
       $(".cart-checkboxes").click(function(){
           if($(this).is(":checked")){
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",true);
           }else{
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",false);
           }
       });
    });
</script>
