<?php 
$settings = $this->getSettings();
$porlets = $this->getPortlets();
?>

<div class="fieldset-wrapper" id="design-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1">
            <div class="supercheckout-left"><?php echo __("Design") ?></div>
            <div class="supercheckout-right" class="admin__field-control">
                <label class="admin__field-label" for="default-option">
                    <span><?php echo __("Select Layout:");?></span>
                </label>
                    <select class="admin__control-select" name="supercheckout[layout-type]" id="layout-type" aria-describedby="notice-default-option">
                        <option <?php echo (isset($settings["supercheckout"]["layout-type"]) && $settings["supercheckout"]["layout-type"] == "three")?'selected="selected"':''?> value="three">3-Column</option>
                        <option <?php echo (isset($settings["supercheckout"]["layout-type"]) && $settings["supercheckout"]["layout-type"] == "two")?'selected="selected"':''?> value="two">2-Column</option>
                    </select>
                </div>
            <div class="supercheckout-clear"></div>
        </h1>
        <div class="portlet">
                <div class="portlet-header"><?php echo __("HTML Header Content");?></div>
                <div class="portlet-content">
                    <div class="text" style="overflow:visible !important;">
                        <button id="header-html-content" class="btn primary"><?php echo __("Add HTML"); ?></button>
                    </div>
                    <input id="hidden-header-html" type="hidden" name="supercheckout[design][portlet][html_header]" value="<?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_header"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_header"]):""?>">
                </div>
        </div>
        <div class="threecolumn-design" <?php echo (isset($settings["supercheckout"]["layout-type"]))? ($settings["supercheckout"]["layout-type"]=="three")?'':'style="display:none;"':''; ?>>
            <div class="columns">
                <input type="text" id="three-column-1" readonly="readonly" class="column-data-1 col" name="supercheckout[design][threecolumn][column_width][1]" value="<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"]:"30"?>" style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"]:"30"?>%" />
                <input type="text" id="three-column-2" readonly="readonly" class="column-data-2 col" name="supercheckout[design][threecolumn][column_width][2]" value="<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"]:"30"?>"  style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"]:"30"?>%" />
                <input type="text" id="three-column-3" readonly="readonly" class="column-data-3 col" name="supercheckout[design][threecolumn][column_width][3]" value="<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"])?($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"]):"40"?>"  style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"])?(int)($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"])-1:"39"?>%" />
            </div>
            <div id="slider" class="ui-editRangeSlider"></div>
            <ul id="column_1" class="supercheckout-column column-1" col-data="1" style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"]:"30"?>%">

                <?php foreach($porlets["portlets_items"] as $portlet){ ?>
                <li class="portlet" col-data="<?php echo $portlet["col"]; ?>" row-data="<?php echo $portlet["row"]; ?>">
                    <div class="portlet-header"><i class="icon-small-payment-address"></i><?php echo $portlet["title"]; ?></div>
                    <div class="portlet-content">
                        <div class="text"><?php if($portlet["action"]){?> <button id="portlet-html-content" class="btn primary"><?php echo __("Add HTML"); ?></button> <?php }else{ echo $portlet["info"];} ?></div>
                        <div class="text"><i class="icon-drag"></i><i class="icon-drag"></i></div>
                        <input type="text" class="sort col-data supercheckout-hidden" name="supercheckout[design][threecolumn][portlet][<?php echo $portlet["name"]; ?>][column]" value="<?php echo $portlet["col"]; ?>">
                        <input type="text" class="sort row-data supercheckout-hidden" name="supercheckout[design][threecolumn][portlet][<?php echo $portlet["name"]; ?>][row]" value="<?php echo $portlet["row"]; ?>">
                    </div>
                </li>
                <?php } ?>
                <input id="hidden-portlet-html" type="hidden" name="supercheckout[design][portlet][html_portlet]" value="<?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_portlet"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_portlet"]):""?>">
            </ul>
            <ul id="column_2" class="supercheckout-column column-2" col-data="2" style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"]:"30"?>%"></ul>
            <ul id="column_3" class="supercheckout-column column-3" col-data="3" style="width:<?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"])?(int)($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["3"])-1:"39"?>%"></ul>
            <div class="supercheckout-clear"></div>
        </div>
        <div class="twocolumn-design" <?php echo (isset($settings["supercheckout"]["layout-type"]))? ($settings["supercheckout"]["layout-type"]=="two")?'':'style="display:none;"':'style="display:none;"'; ?>>
            <div class="columns">
                <input type="text" id="column-1-text-2" readonly="readonly" class="column-data-1 col" name="supercheckout[design][twocolumn][column_width][1]" value="<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"]:"30"?>" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"]:"30"?>%" />
                <input type="text" id="column-2-text-2" readonly="readonly" class="column-data-2 col" name="supercheckout[design][twocolumn][column_width][2]" value="<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"]:"70"?>"  style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"])?((int)$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"] -1):"69"?>%" />
            </div>
            <div id="slider-twocolumn-main"></div>
            <ul id="column-1-2" class="supercheckout-column-2 column-1-2" col-data-2="1" inside-data-2="1" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"]:"40"?>%">
                <?php foreach($porlets["portlets_items"] as $portlet){ ?>
                <li class="portlet" col-data-2="<?php echo $portlet["col-2"]; ?>" row-data-2="<?php echo $portlet["row-2"]; ?>" inside-data-2="<?php echo $portlet["inside-2"]; ?>">
                    <div class="portlet-header"><i class="icon-small-payment-address"></i><?php echo $portlet["title"]; ?></div>
                    <div class="portlet-content">
                        <div class="text"><?php if($portlet["action"]){?> <button id="portlet-html-content-2" class="btn primary"><?php echo __("Add HTML"); ?></button> <?php }else{ echo $portlet["info"];} ?></div>
                        <div class="text"><i class="icon-drag"></i><i class="icon-drag"></i></div>
                        <input type="text" class="sort col-data-2 supercheckout-hidden" name="supercheckout[design][twocolumn][portlet][<?php echo $portlet["name"]; ?>][col-2]" value="<?php echo $portlet["col-2"]; ?>">
                        <input type="text" class="sort row-data-2 supercheckout-hidden" name="supercheckout[design][twocolumn][portlet][<?php echo $portlet["name"]; ?>][row-2]" value="<?php echo $portlet["row-2"]; ?>">
                        <input type="text" class="sort inside-data-2 supercheckout-hidden" name="supercheckout[design][twocolumn][portlet][<?php echo $portlet["name"]; ?>][inside-2]" value="<?php echo $portlet["inside-2"]; ?>">
                    </div>
                </li>
                <?php } ?>
            </ul>
            <ul id="column-2-2" class="" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["2"]:"59"?>%; float:left;">
                <ul id="column-2-upper-2" class="supercheckout-column-2 column-2-2" col-data-2="2" inside-data-2="2" style="min-height: 30px !important; width:100% !important; height:auto !important;"></ul>
                <div class="columns">
                    <input type="text" id="column-1-inside-text-2" class="column-data-1 col" name="supercheckout[design][twocolumn][inside][column_width][1]" value="<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"]:"50"?>" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"]:"50"?>%">
                    <input type="text" id="column-2-inside-text-2" class="column-data-2 col" name="supercheckout[design][twocolumn][inside][column_width][2]" value="<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"]:"50"?>" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"])?((int)$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"] - 1):"49"?>%">
                </div>
                <div id="slider_inside"></div>
                <ul id="column-1-inside-2" class="supercheckout-column-2 column-3-2" col-data-2="2" inside-data-2="3" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"]:"50"?>%; min-height: 30px !important; height:auto !important;"></ul>
                <ul id="column-2-inside-2" class="supercheckout-column-2 column-4-2" col-data-2="2" inside-data-2="4" style="width:<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["2"]:"50"?>%; min-height: 30px !important; height:auto !important;"></ul>
                <hr class="design-separator" size="2">
                <ul id="column-2-lower-2" class="supercheckout-column-2 column-5-2" col-data-2="2" inside-data-2="5" style="min-height: 30px !important; width:100% !important; height:auto !important;"></ul>        
            </ul>
        </div>
        <div class="portlet">
                <div class="portlet-header"><?php echo __("HTML Footer Content");?></div>
                <div class="portlet-content">
                    <div class="text" style="overflow:visible !important;">
                        <button id="footer-html-content" class="btn primary"><?php echo __("Add HTML"); ?></button>
                    </div>
                    <input id="hidden-footer-html" type="hidden" name="supercheckout[design][portlet][html_footer]" value="<?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_footer"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_footer"]):""?>">
                </div>
        </div>
    </div>
    <div id="html-header" class="simplemodal-data" style="display: none;">
        <textarea class="supercheckout-html-textboxes" data-attr="header"><?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_header"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_header"]):""?></textarea>
    </div>
    <div id="html-footer" class="simplemodal-data" style="display: none;">
        <textarea class="supercheckout-html-textboxes" data-attr="footer"><?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_footer"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_footer"]):""?></textarea>
    </div>
    <div id="html-portlet" class="simplemodal-data" style="display: none;">
        <textarea class="supercheckout-html-textboxes" data-attr="portlet"><?php echo isset($settings["supercheckout"]["design"]["portlet"]["html_portlet"])?htmlspecialchars($settings["supercheckout"]["design"]["portlet"]["html_portlet"]):""?></textarea>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui','Magento_Ui/js/modal/modal'], function($,modal){
        
        
        $("#layout-type").change(function(){
            var val = $(this).val();
            if(val == "three"){
                $(".threecolumn-design").show();
                $(".twocolumn-design").hide();
            }else if(val == "two"){
                $(".threecolumn-design").hide();
                $(".twocolumn-design").show();
            }
        })
        
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            modalClass:"knowband-supercheckout-modal",
            title: '<?php echo __("HTML content"); ?>',
            buttons: [{
                text: $.mage.__('OK'),
                class: '',
                click: function () {
                    $(".supercheckout-html-textboxes").each(function(){
                        var type = $(this).attr("data-attr");
                       console.log($(this).attr("data-attr"));
                       var id = "#hidden-" + type + "-html";
                       $(id).val($(this).val());
                    });
                    this.closeModal();
                }
            }]
        };
        $(document).ready(function() {
            $("#header-html-content").click(function(e){
                e.preventDefault();
               $("#html-header").modal(options).modal('openModal'); 
            });
            $("#footer-html-content").click(function(e){
                e.preventDefault();
                $("#html-footer").modal(options).modal('openModal');
            });
            $("#portlet-html-content,#portlet-html-content-2").click(function(e){
                e.preventDefault();
                $("#html-portlet").modal(options).modal('openModal');
            });
        });
        /*Three column layout settings*/
        var main_width = 1;
        $( "#slider" ).slider({
            range: true,	  
            min: 0,
            max: 100,
            step: 1.00,
            values: [ <?php echo isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"]:"30"?>, <?php echo (isset($settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"]) && $settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"])?(int)$settings["supercheckout"]["design"]["threecolumn"]["column_width"]["1"] + $settings["supercheckout"]["design"]["threecolumn"]["column_width"]["2"]:"60"?>],
            slide: function( event, ui ) {

                $('#three-column-1').val(Math.round(main_width*(ui.values[ 0 ])))
                .attr('width-data', ui.values[ 0 ])
                .attr('left-data', 0)
                .css({'width' : parseInt( ui.values[ 0 ] ) + '%'})
                $('#three-column-2').val(Math.round(main_width*(ui.values[ 1 ] - ui.values[ 0 ])))
                .attr('width-data',ui.values[ 1 ] - ui.values[ 0 ])
                .attr('left-data', parseInt(ui.values[ 0 ]+10))
                .css({'width' : parseInt( ui.values[ 1 ] - ui.values[ 0 ]) + '%'})
                $('#three-column-3').val(Math.round(main_width*(100 - ui.values[ 1 ])))
                .attr('width-data',100 - ui.values[ 1 ]-1)
                .attr('left-data', parseInt(ui.values[ 1 ]))
                .css({'width' : parseInt( 100 - ui.values[ 1 ]-1) + '%'})
                $('.column-1').css({'width' :  parseInt( ui.values[ 0 ]) +'%' })
                $('.column-2').css({'width' : parseInt( ui.values[ 1 ] - ui.values[ 0 ])+'%'})
                $('.column-3').css({'width' :  parseInt(100 - ui.values[ 1 ]) +'%'})


            }
        });
        $(".supercheckout-column" ).sortable({
            connectWith: ".supercheckout-column",
            scroll: false,
            stop: function( event, ui ) {
                $('.supercheckout-column').find("li").each(function(i, el){
                    $(this).find(".row-data").val($(el).index())
                    $(this).find(".col-data").val($(this).parent().attr('col-data'))

                });
            }
        });
        $(document).ready(function(){
            var sortRowsColumns = [];
            $(".supercheckout-column > li").each(function(){
                var sortPart = $(this).attr('row-data');
                sortRowsColumns.push([ 1 * sortPart , $(this)]);
            });
            sortRowsColumns.sort(function(x, y) {
                return x[0] - y[0];
            });
            for (var i=0; i< sortRowsColumns.length; i++) {
                $('.column-' + $(sortRowsColumns[i][1]).attr('col-data')).append(sortRowsColumns[i][1]);
            }
        });
        
        
        $( "#slider-twocolumn-main" ).slider({
            range: false,
            min: 0,
            max: 100,
            step: 1.00,
            values: [ <?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["column_width"]["1"]:"40"?>],
            slide: function( event, ui ) {

                $('#column-1-text-2').val(Math.round(main_width*(ui.values[ 0 ])))
                .attr('width-data', ui.values[ 0 ])
                .attr('left-data', 0)
                .css({'width' : parseInt( ui.values[ 0 ] ) + '%'})
                $('#column-2-text-2').val(Math.round(main_width*(100 - ui.values[ 0 ])))
                .attr('width-data',100 - ui.values[ 0 ]-1)
                .attr('left-data', parseInt(ui.values[ 0 ]))
                .css({'width' : parseInt( 100 - ui.values[ 0 ]-1) + '%'})           
                $('#column-1-2').css({'width' :  parseInt( ui.values[ 0 ]) +'%' })
                $('#column-2-2').css({'width' :  parseInt(100 - ui.values[ 0 ]-1) +'%'})


            }
        });
        var main_width_inside = 1;
        $( "#slider_inside" ).slider({
            range: false,
            min: 0,
            max: 100,
            step: 1.00,
            values: [<?php echo isset($settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"])?$settings["supercheckout"]["design"]["twocolumn"]["inside"]["column_width"]["1"]:"50"?>],
            slide: function( event, ui ) {

               $('#column-1-inside-text-2').val(Math.round(main_width_inside*(ui.values[ 0 ])))
            .attr('width-data', ui.values[ 0 ])
            .attr('left-data', 0)
            .css({'width' : parseInt( ui.values[ 0 ] ) + '%'})
            $('#column-2-inside-text-2').val(Math.round(main_width_inside*(100 - ui.values[ 0 ])))
            .attr('width-data',100 - ui.values[ 0 ]-1)
            .attr('left-data', parseInt(ui.values[ 0 ]))
            .css({'width' : parseInt( 100 - ui.values[ 0 ]-1) + '%'})           
            $('#column-1-inside-2').css({'width' :  parseInt( ui.values[ 0 ]) +'%' })
            $('#column-2-inside-2').css({'width' :  parseInt(100 - ui.values[ 0 ]-1) +'%'})


            }
        });
        
        $(".supercheckout-column-2" ).sortable({
            connectWith: ".supercheckout-column-2",
            scroll: false,
            stop: function( event, ui ) {
                $('.supercheckout-column-2').find("li").each(function(i, el){
                    $(this).find(".row-data-2").val($(el).index());
                    $(this).find(".col-data-2").val($(this).parent().attr('col-data-2'));
                    $(this).find(".inside-data-2").val($(this).parent().attr('inside-data-2'));

                });
            }
        });
        $(document).ready(function(){
            var sortRowsColumns = [];
            $(".supercheckout-column-2 > li").each(function(){
                var sortPart = $(this).attr('row-data-2');
                sortRowsColumns.push([ 1 * sortPart , $(this)]);
            });
            sortRowsColumns.sort(function(x, y) {
                return x[0] - y[0];
            });
            for (var i=0; i< sortRowsColumns.length; i++) {
                $('.column-' + $(sortRowsColumns[i][1]).attr('inside-data-2') +"-2").append(sortRowsColumns[i][1]);
            }
        });
        
        
        $("#design-settings .supercheckout-column").droppable({
            activate: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue",
                    width: "auto"
                });
            },
            out: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
            },
            over: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
            },
            deactivate: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
                setTimeout(function(){
                   ui.helper.css({
                        "background-color": ""
                    }); 
                },400);
            }
        });
    });
</script>