<?php $settings = $this->getSettings();?>
<div class="fieldset-wrapper" id="general-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1"><?php echo __("General Settings")?></h1>
        <fieldset class="admin__fieldset">
            <div class="admin__field">
                <label class="admin__field-label" for="enable">
                    <span><?php echo __("Enable Supercheckout")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="enable" name="supercheckout[enable]" value="1" <?php echo isset($settings["supercheckout"]["enable"])?$settings["supercheckout"]["enable"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="enable">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="test_mode">
                    <span><?php echo __("Enable Supercheckout Test Mode")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="test_mode" name="supercheckout[test_mode]" value="1" <?php echo isset($settings["supercheckout"]["test_mode"])?$settings["supercheckout"]["test_mode"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="test_mode">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="guest-registration">
                    <span><?php echo __("Guest Registration")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="guest-registration" name="supercheckout[guest_registration]" value="1" <?php echo isset($settings["supercheckout"]["guest_registration"])?$settings["supercheckout"]["guest_registration"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="guest-registration">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="register-guest-password">
                    <span><?php echo __("Register Guest with password")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="register-guest-password" name="supercheckout[register_guest]" value="1" <?php echo isset($settings["supercheckout"]["register_guest"])?$settings["supercheckout"]["register_guest"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="register-guest-password">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="default-option">
                    <span><?php echo __("Select default option at checkout");?></span>
                </label>
                <div class="admin__field-control">
                    <select class="admin__control-select" name="supercheckout[default_option]" id="default-option" aria-describedby="notice-default-option">
                        <option <?php echo isset($settings["supercheckout"]["default_option"])?($settings["supercheckout"]["default_option"] =='guest')?'selected="selected"':'':'';?> value="guest"><?php echo __("Guest")?></option>
                        <option <?php echo isset($settings["supercheckout"]["default_option"])?($settings["supercheckout"]["default_option"] =='login')?'selected="selected"':'':'';?> value="login"><?php echo __("Login")?></option>
                        <option <?php echo isset($settings["supercheckout"]["default_option"])?($settings["supercheckout"]["default_option"] =='register')?'selected="selected"':'':'';?> value="register"><?php echo _("Register")?></option>
                    </select>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="guest-checkout">
                    <span><?php echo __("Enable guest checkout")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="guest-checkout" name="supercheckout[guest_checkout]" value="1" <?php echo isset($settings["supercheckout"]["guest_checkout"])?$settings["supercheckout"]["guest_checkout"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="guest-checkout">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>