<?php $settings = $this->getSettings();?>
<div class="fieldset-wrapper" id="login-settings">
    <h1 class="supercheckout-h1"><?php echo __("Login Settings")?></h1>
    <div class="admin__fieldset-wrapper-content">
        <fieldset class="admin__fieldset">
            <div class="admin__field">
                <label class="admin__field-label" for="enable-facebook-login">
                    <span><?php echo __("Enable facebook login")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="enable-facebook-login" name="supercheckout[enable_facebook_login]" value="1" <?php echo isset($settings["supercheckout"]["enable_facebook_login"])?$settings["supercheckout"]["enable_facebook_login"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="enable-facebook-login">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field _required">
                <label class="admin__field-label" for="facebook-app-id">
                    <span><?php echo __("Facebook App ID")?></span>
                </label>
                <div class="admin__field-control">
                    <input value="<?php echo (isset($settings["supercheckout"]["facebook_app_id"]) && $settings["supercheckout"]["facebook_app_id"])?$settings["supercheckout"]["facebook_app_id"]:'';?>" class="admin__control-text" type="text" placeholder="" name="supercheckout[facebook_app_id]" aria-describedby="notice-facebook-app-id" id="facebook-app-id">
                </div>
            </div>
            <div class="admin__field _required">
                <label class="admin__field-label" for="facebook-secret-id">
                    <span><?php echo __("Facebook App Secret")?></span>
                </label>
                <div class="admin__field-control">
                    <input value="<?php echo (isset($settings["supercheckout"]["facebook_app_secret"]) && $settings["supercheckout"]["facebook_app_secret"])?$settings["supercheckout"]["facebook_app_secret"]:'';?>" class="required-entry input-text admin__control-text" type="text" placeholder="" name="supercheckout[facebook_app_secret]" aria-describedby="notice-facebook-secret-id" id="facebook-secret-id">
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="enable-google-login">
                    <span><?php echo __("Enable google login")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="enable-google-login" name="supercheckout[enable_google_login]" value="1" <?php echo isset($settings["supercheckout"]["enable_google_login"])?$settings["supercheckout"]["enable_google_login"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="enable-google-login">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field _required">
                <label class="admin__field-label" for="google-app-id">
                    <span><?php echo __("Google App ID")?></span>
                </label>
                <div class="admin__field-control">
                    <input value="<?php echo (isset($settings["supercheckout"]["google_app_id"]) && $settings["supercheckout"]["google_app_id"])?$settings["supercheckout"]["google_app_id"]:'';?>" class="admin__control-text" type="text" placeholder="" name="supercheckout[google_app_id]" aria-describedby="notice-google-app-id" id="google-app-id">
                </div>
            </div>
            <div class="admin__field _required">
                <label class="admin__field-label" for="google-client-id">
                    <span><?php echo __("Google Client ID")?></span>
                </label>
                <div class="admin__field-control">
                    <input value="<?php echo (isset($settings["supercheckout"]["google_client_id"]) && $settings["supercheckout"]["google_client_id"])?$settings["supercheckout"]["google_client_id"]:'';?>" class="admin__control-text" type="text" placeholder="" name="supercheckout[google_client_id]" aria-describedby="notice-google-client-id" id="google-client-id">
                </div>
            </div>
            <div class="admin__field _required">
                <label class="admin__field-label" for="google-secret-id">
                    <span><?php echo __("Google App Secret")?></span>
                </label>
                <div class="admin__field-control">
                    <input value="<?php echo (isset($settings["supercheckout"]["google_app_secret"]) && $settings["supercheckout"]["google_app_secret"])?$settings["supercheckout"]["google_app_secret"]:'';?>" class="admin__control-text" type="text" placeholder="" name="supercheckout[google_app_secret]" aria-describedby="notice-google-secret-id" id="google-secret-id">
                </div>
            </div>
        </fieldset>
    </div>
</div>