<?php $settings = $this->getSettings();?>
<div class="fieldset-wrapper" id="payment-method-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1"><?php echo __("Payment Methods")?></h1>
        <fieldset class="admin__fieldset">
            <div class="admin__field">
                <label class="admin__field-label" for="enable-payment-methods">
                    <span><?php echo __("Enable payment methods")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="enable-payment-methods" name="supercheckout[enable_payment_methods]" value="1" <?php echo isset($settings["supercheckout"]["enable_payment_methods"])?$settings["supercheckout"]["enable_payment_methods"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="enable-payment-methods">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="default-payment-method">
                    <span><?php echo __("Select a default payment method");?></span>
                </label>
                <div class="admin__field-control">
                    <select class="admin__control-select" name="supercheckout[default_payment_method]" id="default-payment-method" aria-describedby="notice-default-payment-method">
                        <?php foreach($this->getActiveMethods() as $payment_code => $payment_title){ ?>
                        <option <?php echo isset($settings["supercheckout"]["default_payment_method"])?($settings["supercheckout"]["default_payment_method"] == $payment_code)?'selected="selected"':'':'';?> value="<?php echo $payment_code; ?>"><?php echo $payment_title; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
</div>