<?php 

$payment_fields = $this->getAddressFields();
?>

<div class="fieldset-wrapper" id="payment-address-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1"><?php echo __("Payment Address")?></h1>
        <table class="supercheckout-address-cart-table alternate">
            <thead>
                <tr class="even">
                    <th class="name"></th>
                    <th class="guest"><?php echo __("Guest Customer"); ?></th>
                    <th class="login"><?php echo __("Logged in Customer"); ?></th>
                    <th class="icon"></th>
                </tr>
            </thead>
            <tbody class="sortable" id="payment_address_form">
                <?php foreach($payment_fields["payment_address_items"] as $fields){ ?>
                <tr class="sort-item ui-state-default <?php echo (!$fields["enabled"])?"field-disabled":""; ?>" sort-data="<?php echo $fields["sort_order"]; ?>">
                    <td class="name">
                        <span><?php echo $fields["label"]; ?>
                            <input class="supercheckout-hidden sort-text"  type="text" value="<?php echo $fields["sort_order"]; ?>" name="supercheckout[payment_address][fields][<?php echo $fields["name"]; ?>][sort_order]" />
                        </span>
                        <?php if(!$fields["enabled"]){?>
                            <div class="notice">*Disabled from Customer's configuration.</div>
                        <?php } ?>
                    </td>
                    <td class="guest">
                        <input class="display-checkboxes payment-address-checkboxes" <?php echo (!$fields["enabled"])?'disabled="disabled"':''; ?> type="checkbox" value="1" name="supercheckout[payment_address][guest][<?php echo $fields["name"]; ?>][display]" <?php echo ($fields["display_guest"] && $fields["enabled"])?'checked="checked"':''; ?> id="guest_payment_address_fields_<?php echo $fields["name"]; ?>_display"/>
                        <input <?php echo ($fields["display_guest"] && $fields["enabled"])?'disabled="disabled"':''; ?> type="hidden" value="0" name="supercheckout[payment_address][guest][<?php echo $fields["name"]; ?>][display]" id="guest_payment_address_fields_<?php echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="guest_payment_address_fields_<?php echo $fields["name"]; ?>_display"><?php echo __("Display"); ?></label>
                        <input class="required-checkboxes payment-address-checkboxes" <?php echo (!$fields["enabled"])?'disabled="disabled"':''; ?> type="checkbox" value="1" name="supercheckout[payment_address][guest][<?php echo $fields["name"]; ?>][require]" <?php echo ($fields["required_guest"] && $fields["enabled"])?'checked="checked"':''; ?> id="guest_payment_address_fields_<?php echo $fields["name"]; ?>_require" />
                        <input <?php echo ($fields["required_guest"] && $fields["enabled"])?'disabled="disabled"':''; ?> type="hidden" value="0" name="supercheckout[payment_address][guest][<?php echo $fields["name"]; ?>][require]" id="guest_payment_address_fields_<?php echo $fields["name"]; ?>_require_hidden"/>
                        <label for="guest_payment_address_fields_<?php echo $fields["name"]; ?>_require"><?php echo __("Required"); ?></label>
                    </td>
                    <td class="login">
                        <input class="display-checkboxes payment-address-checkboxes" <?php echo (!$fields["enabled"])?'disabled="disabled"':''; ?> type="checkbox" value="1" name="supercheckout[payment_address][login][<?php echo $fields["name"]; ?>][display]" <?php echo ($fields["display_login"] && $fields["enabled"])?'checked="checked"':''; ?> id="login_payment_address_fields_<?php echo $fields["name"]; ?>_display"/>
                        <input <?php echo ($fields["display_login"] && $fields["enabled"])?'disabled="disabled"':''; ?>  type="hidden" value="0" name="supercheckout[payment_address][login][<?php echo $fields["name"]; ?>][display]" id="login_payment_address_fields_<?php echo $fields["name"]; ?>_display_hidden"/>
                        <label class="m-r-15" for="login_payment_address_fields_<?php echo $fields["name"]; ?>_display"><?php echo __("Display"); ?></label>
                        <input class="required-checkboxes payment-address-checkboxes" <?php echo (!$fields["enabled"])?'disabled="disabled"':''; ?> type="checkbox" value="1" name="supercheckout[payment_address][login][<?php echo $fields["name"]; ?>][require]" <?php echo ($fields["required_login"] && $fields["enabled"])?'checked="checked"':''; ?> id="login_payment_address_fields_<?php echo $fields["name"]; ?>_require" />
                        <input <?php echo ($fields["required_login"] && $fields["enabled"])?'disabled="disabled"':''; ?>  type="hidden" value="0" name="supercheckout[payment_address][login][<?php echo $fields["name"]; ?>][require]" id="login_payment_address_fields_<?php echo $fields["name"]; ?>_require_hidden" />
                        <label for="login_payment_address_fields_<?php echo $fields["name"]; ?>_require"><?php echo __("Required"); ?></label>
                    </td>
                    <td class="icon">
                        <span class="icon-menu2 ui-sortable-handle"></span>
                    </td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
        /*for sorting of rows in payment address*/
        $(document).ready(function(){
            var sortRows = [];
            $("#payment_address_form tr").each(function(){
                var sortPart = $(this).attr('sort-data');
                if (sortPart >= 1) {
                    sortRows.push([ 1 * sortPart , $(this)]);
                }
            });
            sortRows.sort(function(x, y) {
                return x[0] - y[0];
            });
            for (var i=0; i<sortRows.length; i++) {
                $("#payment_address_form").append(sortRows[i][1]);
            }
            $('#payment_address_form tr').each(function(i,ele) {
                if(i%2 == 0){
                    $(this).addClass("odd");
                }else{
                    $(this).addClass("even");
                }
            });
        });
        /*for drag & drop functionality in payment address*/
        $("#payment_address_form.sortable" ).sortable({
            cursor:"move",
            placeholder: "ui-sortable-placeholder",
            stop: function( event, ui ) {
                $(this).find("tr").each(function(i, el){
                    $(this).find(".sort-text").val($(el).index());
                    $('#payment_address_form.sortable').each(function() {
                        $('tr:odd',  this).addClass('even').removeClass('odd');
                        $('tr:even', this).addClass('odd').removeClass('even');
                    });
                });
            }
        });
        $("#payment_address_form.sortable").droppable({
            activate: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue",
                    width: "auto"
                });
            },
            out: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
            },
            over: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
            },
            deactivate: function (event, ui) {
                ui.helper.css({
                    "background-color": "lightblue"
                });
                setTimeout(function(){
                   ui.helper.css({
                        "background-color": ""
                    }); 
                },400);
            }
        });
        
       $(".payment-address-checkboxes").click(function(){
           if($(this).is(":checked")){
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",true);
           }else{
               var id = $(this).prop("id");
               $("#" + id +"_hidden").prop("disabled",false);
           }
           if(!$(this).is(":checked") && $(this).hasClass("display-checkboxes")){
               $(".required-checkboxes",$(this).parent()).prop("checked",false);
               $(".required-checkboxes",$(this).parent()).prop("disabled",true);
               var id = $(".required-checkboxes",$(this).parent()).prop("id");
               $("#" + id +"_hidden").prop("disabled",true);
           } 
           if($(this).is(":checked") && $(this).hasClass("display-checkboxes")){
               $(".required-checkboxes",$(this).parent()).prop("disabled",false);
               var id = $(".required-checkboxes",$(this).parent()).prop("id");
               $("#" + id +"_hidden").prop("disabled",false);
           } 
           
       });
       $(".payment-address-checkboxes").each(function(){
           if(!$(this).is(":checked") && $(this).hasClass("display-checkboxes")){
               $(".required-checkboxes",$(this).parent()).prop("checked",false);
               $(".required-checkboxes",$(this).parent()).prop("disabled",true);
               var id = $(".required-checkboxes",$(this).parent()).prop("id");
               $("#" + id +"_hidden").prop("disabled",false);
           } 
           if($(this).is(":checked") && $(this).hasClass("display-checkboxes")){
               $(".required-checkboxes",$(this).parent()).prop("disabled",false);
               var id = $(".required-checkboxes",$(this).parent()).prop("id");
               $("#" + id +"_hidden").prop("disabled",true);
           } 
           
       });
    });
</script>
