<?php $settings = $this->getSettings();?>
<div class="fieldset-wrapper" id="shipping-method-settings">
    <div class="admin__fieldset-wrapper-content">
        <h1 class="supercheckout-h1"><?php echo __("Shipping Methods")?></h1>
        <fieldset class="admin__fieldset">
            <div class="admin__field">
                <label class="admin__field-label" for="enable-shipping-methods">
                    <span><?php echo __("Enable shipping methods")?></span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch" data-role="switcher">
                        <input type="checkbox" class="admin__actions-switch-checkbox" id="enable-shipping-methods" name="supercheckout[enable_shipping_methods]" value="1" <?php echo isset($settings["supercheckout"]["enable_shipping_methods"])?$settings["supercheckout"]["enable_shipping_methods"]?'checked="checked"':'':'';?>>
                        <label class="admin__actions-switch-label" for="enable-shipping-methods">
                            <span class="admin__actions-switch-text" data-text-on="Yes" data-text-off="No"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="default-shipping-method">
                    <span><?php echo __("Select a default shipping method");?></span>
                </label>
                <div class="admin__field-control">
                    <select class="admin__control-select" name="supercheckout[default_shipping_method]" id="default-shipping-method" aria-describedby="notice-default-shipping-method">
                        <?php foreach($this->getAllActiveCarriers() as $carrier_code => $carrier_title){ ?>
                        <option <?php echo isset($settings["supercheckout"]["default_shipping_method"])?($settings["supercheckout"]["default_shipping_method"] == $carrier_code)?'selected="selected"':'':'';?> value="<?php echo $carrier_code; ?>"><?php echo $carrier_title; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
</div>