@font-face {
    font-family: 'icomoon'; 
    src:  url('../../fonts/icomoon.eot?vkzik7');
    src:  url('../../fonts/icomoon.eot?vkzik7#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?vkzik7') format('truetype'),
      url('../../fonts/icomoon.woff?vkzik7') format('woff'),
      url('../../fonts/icomoon.svg?vkzik7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

//   .icon-cloud:before {
//     content: "\e902";
//   }

  .admin__menu .item-banners-slider.level-0 > a:before {
    font-family: 'icomoon'; 
    content: '\e900';
}