<!--@subject {{var subject}} @-->
{{template config_path="design/email/header_template"}} 
<table>
    <tr class="email-intro">
        <td>
            Hi,
            <br/>
            <br/>
            Your registration is successful. Your account password is:{{var password|raw}}
            
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}