.page-wrapper {
    .page-header {
        .panel.wrapper {
            background-color: transparent;
            color: #ffffff;
            border-bottom:0px solid #ffffff;
        }
    }
    .header.panel {
        >.header.links {
            >li {
                > a {
                    color: #ffffff;
                    &:visited {
                    color: #ffffff;
                    }
                }
            }
        }
    }
}
