.navigation .level0 > .level-top {
    color: #fff;
}
.navigation {
    background: none;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
   z-index:0;
    width: unset;
float: right;
}